<div class="modal fade t_one_lounge_groupchat" id="t_one_gc" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid" id="t_all_popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="t_all_section">
                            <div class="t_all_popup_header">
                                <h6>Group Chat</h6>
                                <a class="t_all_close" (click)="closegroupchat()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <h6 style="text-align: center;"></h6>
                                <div class="row pt-2">
                                    <div class="col-md-12 col-xl-12 pl-0">
                                        <div class="chat_box">
                                            <ul class="chat_message" #scroller [scrollTop]="scroller.scrollHeight">
                                                <ng-container *ngFor="let user of messageList">
                                                    <li class="user-profile-row" [ngStyle]="{'background':(username===user.user_name)?'#27bf46c9':'white'}"
                                                        id="user_row_500">
                                                        <div class="user-profile-data">
                                                            <div class="user-profile-image"> <img class="img-responsive user-profile-img"
                                                                    src="assets/img/user1.jpg" width="50">
                                                            </div>
                                                            <div class="user-profile-info">
                                                                <p class="user-profile-name"><a href="javascript:void(0);"
                                                                        [ngStyle]="{'color':(username===user.user_name)?'white':'black'}">{{user.user_name}}</a>
                                                                </p>
                                                                <p class="user-profile-company" [ngStyle]="{'color':(username===user.user_name)?'white':'black'}">{{user.chat_data}}</p>
                                                            </div>
                                                        </div>

                                                    </li>
                                                </ng-container>
                                            </ul>
                                        </div>
                                        <div class="message_input">
                                            <textarea name="message" autocomplete="off" placeholder="Please Chat here"
                                                [formControl]="textMessage" (keyup.enter)="postMessage(textMessage.value)"
                                                maxlength="200" type="text" id="query" value=""></textarea>
                                        </div>
                                        
                                        <button type="submit" class="btn borderBtn SubmitBut" style="background-color: #27bf46c9; color: white; margin-left: 12px; margin-bottom: 10px;"
                                        (click)="postMessage(textMessage.value)">Send</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
