<section>
    <div id="container_section_wrap">
        <div id="container_section_content">
            <div id="imgbg_section">
                <img [src]="hell" class="img-fluid" alt="">
                <div id="pointer1" data-toggle="tooltip" data-placement="top" title="Take Selfie" routerLink="/theme1/tonelayout/photobooth/selfie">
                    <div class="pulse"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>