#pointer1{
    position: absolute;
    top: 59%;
    width: 9%;
    height: 9%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    .pulse{
        position: absolute;
        top: 70%;
        left: 50%;
    }
}
