<section style="position: relative;">
    <div id="container_section_wrap">
        <div class="container-fluid">
            <!-- <div [ngStyle]="{
                'background':main_banners!==null && main_banners!==undefined?'url('+main_banners+')':null,
                'background-size':main_banners!==null && main_banners!==undefined?'cover':null,
                'padding-bottom':main_banners!==null && main_banners!==undefined?'40px':null,
                'background-position':main_banners!==null && main_banners!==undefined?'100%':null
            }" id="imgbg_section">
                
            </div> -->
            <div>
                <img src="{{main_banners}}" alt="" style="position: absolute;width: 100%;">
                <div class="row">
                    <div class="col-lg-2 col-2">
                <div *ngIf="reaction == '1'" id="listItems">
                    <ul>
                        <li>
                            <a (click)="likeopen('like')"><img class="icon-styling-mob" src="assets/icons/like.png" width="40px" alt=""></a>
                        </li>
                        <li>
                            <a (click)="likeopen('claps')"><img class="icon-styling-mob" src="assets/icons/claps.png" width="40px" alt=""></a>
                        </li>
                        <li>
                            <a (click)="likeopen('heart')"><img class="icon-styling-mob" src="assets/icons/heart.png" width="40px" alt=""></a>
                        </li>
                    </ul>
                </div>
                    </div>
                    <div class="col-lg-8 col-7">
                        <div [ngStyle]="{'width':!embedVideo?width_player+'%':null , 'height':height_player+'%', 'top':top_player+'%','left':left_player+'%','position':embedVideo?null:'fixed'}">
                            <!-- {{stream}}
                            {{imgBanner}} -->
                            <div id="showEmbed"></div>
                            <div *ngIf="!embedVideo" id="player-wrapper" class="player-container"></div>

                            <div *ngIf="!showLoader && !isStreamLive" style="text-align: center;margin: 0 auto;display: flex;justify-content: center;width: 1176px;">
                                <embed style="width: 1023px;position: relative;top: 30px;left: -123px;height: 650px;" type="text/html" *ngIf="embedVideo" [src]="embedVideo | safe">
                            </div>
                            <div *ngIf="showLoader && !isStreamLive" [ngStyle]="{'top':embedVideoStatus!=='start'? '-99px':'83px','left': '-27px'}" class="showthisLoader">
                                <p>{{videoWasStartedAndInActive}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-3">
                        <div id="rightMenu">
                            <ul id="menu">
                                <audio id="myAudioClap">
                                    <source src="assets/img/applause.wav" type="audio/wav">
                                    <source src="assets/img/applause.mp3" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                                <!-- <li *ngFor="let rm of rightmenu" (click)="openRigthMenu(rm.name)">
                                    <img src="{{rm.img}}" alt="">
                                    <div>{{rm.name | titlecase}}</div>
                                </li> -->
                                <li *ngIf="qna == '1'" (click)="openRigthMenu('ask question')">
                                    <img src="assets/icons/chat-h.png" alt="">
                                    <div class="text-1">Ask Question</div>
                                </li>
                                <li *ngIf="clap == '1'" (click)="openRigthMenu('clapp')">
                                    <img class="icon-styling-mob-1" src="assets/icons/hand.png" alt="">
                                    <div class="text-1">Clap</div>
                                </li>
                                <li *ngIf="gc == '1'" (click)="openRigthMenu('group chat')">
                                    <img src="assets/icons/chat-h.png" alt="">
                                    <div class="text-1">Group Chat</div>
                                </li>
                                <li *ngIf="poll == '1'" (click)="openRigthMenu('poll')">
                                    <img src="assets/icons/navigation-h.png" alt="">
                                    <div class="text-1">Poll</div>
                                </li>
                                <li *ngIf="quiz == '1'" (click)="openRigthMenu('quiz')">
                                    <img src="assets/icons/chat-h.png" alt="">
                                    <div class="text-1">Quiz</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade pollModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Choose a poll</h6>
                                <a class="close" (click)="closePopup()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <h6 style="text-align: center;" *ngIf="msg">{{msg}}</h6>
                                <div class="row pt-2">
                                    <div class="col-md-12 col-xl-12 pl-0">
                                        <div *ngIf="pollingLIst.length <= 0" class="text-center m-5">
                                            <p>No Poll for you</p>
                                        </div>

                                        <div class="message_input" *ngFor="let poll of  pollingLIst">
                                            <div id="question">
                                                <b>Question:</b>
                                                <form [formGroup]="pollForm">
                                                    <p>{{poll.title}}</p>
                                                    <div *ngFor="let choice of poll.options">
                                                        <label style="cursor:pointer">
                                                            <input formControlName='polling' type="radio"
                                                                   value="{{choice.choice}}">
                                                            &nbsp;{{choice.choice}}</label>
                                                    </div>
                                                    <div>
                                                        <input type="button" class="btn btn-borderBtn" id="formSubmit"
                                                               style="background-color: #292f35; color: white; margin-left: 12px;"
                                                               (click)="pollSubmit(poll.id)" value="Submit" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<div class="container-fluid" style="background-color: red;">
    <div class="row">
        <div class="animation-part">
            <section class="sticky">
                <div class="bubbles" *ngIf="like">
                    <div class="bubble"> <img [src]="imag" alt="" srcset=""> </div>
                    <div class="bubble"> <img [src]="imag" alt="" srcset=""> </div>
                    <div class="bubble"> <img [src]="imag" alt="" srcset=""> </div>
                    <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
                    <div class="bubble"></div>
                    <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
                    <div class="bubble"></div>
                    <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
                    <div class="bubble"></div>
                    <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
                    <div class="bubble"><img [src]="imag" alt="" srcset=""></div>
                    <div class="bubble"><img [src]="imag" alt="" srcset=""></div>

                </div>
            </section>
        </div>
    </div>
</div>

