#t_one_player_section{
    position: absolute;
    // top: 20.3%;
    // left: 26.5%;
    // height: 47.2%;
    // width: 47%;
}
#rightMenu{
  position: absolute;
  right: 80px;
  top: 22%;
  text-align: center;
  padding: 20px 0px;
  color: #fff;
  background: grey;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
    #menu{
        list-style-type: none;
        padding: 2px;
        li{
            margin: 10px;
            cursor: pointer;
            img{
                transition: .3s;
                -ms-transform: scale(.85); /* IE 9 */
                -webkit-transform: scale(.85); /* Safari 3-8 */
                transform: scale(.85); 
                transition: .3s;
                -ms-transition: .3s; /* IE 9 */
                -webkit-transition: .3s; /* Safari 3-8 */
            }
        }
    }
    #menu{
        li img:hover{
            transition: .3s;
            -ms-transform: scale(1.1); /* IE 9 */
            -webkit-transform: scale(1.1); /* Safari 3-8 */
            transform: scale(1.1); 
            transition: .3s;
            -ms-transition: .3s; /* IE 9 */
            -webkit-transition: .3s; /* Safari 3-8 */
        }
    }
}


#popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  
  .chat_box{
    .chat_message{
      list-style-type: none;
      padding: 0;
      display: inline-block;
      height: 400px;
      width: 96%;
      overflow: auto;
      overflow-x: hidden;
      .chat_messageList{
        padding: 10px;
        .img_avatar{
          float: left;
          width: 46px;
          img{
            width: 28px;
          }
        }
        p{
          .person{
            display: block;
            color: #292f35;
            font-weight: bold;
            font-size: 14px;
            float: left;
            cursor: pointer;
            margin-right: 15px;
            text-transform: capitalize;
            line-height: 18px;
            .checkProfile{
              text-decoration: none;
              outline: none;
              color: #292f35;
            }
          }
          .time {
            float: right;
            color: dimgrey;
            line-height: 18px;
          }
        }
        .text_message{
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-left: 48px;
          clear: both;
          margin-bottom: 5px;
        }
      }
      .chat_messageList:nth-child(even){
        background: #e8e8e8;
      }
    }
  }
  .message_input {
    padding: 10px;
    textarea {
      border: none;
      height: 102px;
      box-sizing: border-box;
      outline-width: 0;
      padding: 10px;
      font-size: 14px;
      width: 78% !important;
      border-radius: inherit;
      border-radius: 2px;
      background: #e8e8e8;
      border: 0px;
      padding: 10px 5px 6px 15px;
      line-height: 11px;
      /* margin-left: 15px; */
      resize: none;
      border: 1px solid #e8e8e8;
      outline: none;
    }
    #chatBtn{
      width: 20%;
      font-size: 12px;
      background: #ebebeb;
      padding: 2px;
      box-shadow: none;
      height: 40px;
      border-radius: inherit;
      background: #292f35;
      border: navajowhite;
      margin-top: 0;
      svg{
        color: #fff;
  
      }
    }
  }
  
  .online_chat{
    min-height: 400px;
    overflow: auto;
  
  }
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292f35;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292f43;
  }
  

  #listItems{
    position: relative;
    top: 20%;
    left: 20%;
    z-index: 100;
    ul{
        list-style-type: none;
        padding: 0;
        li{
            background:#01334c00;
            margin: 10px;
            border-radius: 24px;
            color: white;
            cursor: pointer;
            text-align: center;
            a{
                padding: 5px;
                text-decoration: none;
                color: #fff;
                line-height: 46px;
                height: 46px;
            }
        }
    }
}


.bubbles{
    position:absolute;
    width:100%;
    height: 100%;
    z-index:0;
    overflow:hidden;
    top:0px;
    left:0;
   
  
  }
  .bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    border-radius:50%;
    opacity:0.5;
    animation: rise 2s infinite ease-in;
  
  }
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation-duration:4s;
  }
  .bubble:nth-child(2){
    width:150px;
    height:150px;
    left:20%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
  }
  .bubble:nth-child(5){
    width:100px;
    height:100px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
  }
  .bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
  }
  .bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
  }
  .bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
  }
  @keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  }
  
  .bubbles img {
    width: 90%;
  }

  
  @media (max-width: 2000px) and (max-height: 1440px) {
    .center-Video{
      margin-top: 20vh;
        }
  }

.showthisLoader{
  margin: 0 auto;
  position: relative;
  // top: -99px;
  background: white;
  height:500px;
}

.showthisLoader p{
  text-align: center;
  padding:20px;
  font-size: 47px;
  position:relative;
  top:24%;
}

@media (max-width: 768px) {
  .showthisLoader{
    margin: 0 auto;
    position: relative;
    height: 400px;
    background: white;
  }
  .showthisLoader p{
    font-size: 22px;
    top:30%;
  }
  #rightMenu {
    position: relative;
    right: 11px;
  }
  .text-1 {
    font-size: 12px;
  }
  .icon-styling-mob {
    width: 30px;
    height: 30px;
  }
  .icon-styling-mob-1 {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 467px) {
  .text-1 {
    font-size: 9px;
  }
}
