section{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    #content{
      position: relative;
      #exhibition_content{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        max-width: 100%;
        margin: auto;
        #fullBg{
          position: relative;
          height: 100%;
          width: 100%;
          display: block;
          img{
            width: 100vw;
            height: 100vh;
          }
        }
      }
    }
  }
  @keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
  }
  
  .dareToInnovative{
    position: absolute;
    // top: 43%;
    // left: 15%;
    // background: black;
    cursor: pointer;
    height: 8vw;
    width: 8vw;
    .pulse{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }