<section>
    <div id="content">
        <div id="exhibition_content">
            <div id="fullBg">
                <img [src]="main_banner" alt="" width="100%"> 
            </div>
            <!-- <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
                <div class="alert alert-success " role="alert">
                    The session is Live now, please join us at the auditorium.
                </div>
              </div> -->
            <div>
                <ng-container *ngFor="let data of main_stalls">
                    <div [ngStyle]="{'top':data.pos_top+'%', 'left':data.pos_left+'%'}" class="dareToInnovative" (click)="gotoCommitToSucceed(data.id)">
                        <div class="pulse"></div>
                    </div>
                </ng-container>
                
                <!-- <div class="commitToSucceed" (click)="gotoCommitToSucceed('283')">
                    <div class="pulse"></div>
                </div> -->
                <!-- <div class="growBySharing" (click)="gotoGrowBySharing()">
                    <div class="pulse"></div>
                </div> -->
                <!-- <div class="care" (click)="gotoCommitToSucceed('282')">
                    <div class="pulse"></div>
                </div> -->
                <!-- <div class="lilly_4" (click)="gotoCommitToSucceed('625');stepUpAnalytics('exhibition_625')">
                    <div class="pulse"></div>
                </div>
                <div class="lilly_5" (click)="gotoCommitToSucceed('626');stepUpAnalytics('exhibition_626')">
                    <div class="pulse"></div>
                </div> -->
                <!-- <div class="lilly_6" (click)="gotoCommitToSucceed('335');stepUpAnalytics('click_regulatory')">
                    <div class="pulse"></div>
                </div> -->
                <!-- <div class="lilly_7" (click)="gotoCommitToSucceed('620');stepUpAnalytics('exhibition_620')">
                    <div class="pulse"></div>
                </div>
                <div class="lilly_8" (click)="gotoCommitToSucceed('618');stepUpAnalytics('exhibition_618')">
                    <div class="pulse"></div>
                </div>
                <div class="lilly_9" (click)="gotoCommitToSucceed('619');stepUpAnalytics('exhibition_619')">
                    <div class="pulse"></div>
                </div>
                <div class="lilly_10" (click)="gotoCommitToSucceed('622');stepUpAnalytics('exhibition_622')">
                    <div class="pulse"></div>
                </div>
                <div class="lilly_11" (click)="gotoCommitToSucceed('623');stepUpAnalytics('exhibition_623')">
                    <div class="pulse"></div>
                </div>
                <div class="lilly_12" (click)="gotoCommitToSucceed('621');stepUpAnalytics('exhibition_621')">
                    <div class="pulse"></div>
                </div> -->
                <!-- <div class="lilly_13" (click)="gotoCommitToSucceed('336');stepUpAnalytics('click_providerbusiness')">
                    <div class="pulse"></div>
                </div> -->
            </div>
        </div>
    </div>
</section>