<div class="videoContainer">
    <video style="z-index: 999;" [src]=hell type="video/mp4" id="myVideo" preload="auto" class="videoBg" (ended)="endOuterVideo()" autoplay>
    </video>
</div>
<span *ngIf="skip_button == 1" id="skip">
    <a class="nav-link sign" (click)="skip()" title="skip" role="button">
        Skip</a>
</span>