// .pulse {
//     // position: absolute;
//     // left: 50%;
//     // top: 50%;
//     transform: translateX(-50%) translateY(-50%);
//     width: 12px;
//     height: 12px;
    
//     &:before {
//       content: '';
//       position: relative;
//       display: block;
//       width: 300%;
//       height: 300%;
//       box-sizing: border-box;
//       margin-left: -100%;
//       margin-top: -100%;
//       border-radius: 45px;
//       background-color: rgb(138, 56, 56);
//       animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
//     }
    
//     &:after {
//       content: '';
//       position: absolute;
//       left: 0; 
//       top: 0;
//       display: block;
//       width: 100%;
//       height: 100%;
//       background-color: red;
//       border-radius: 15px;
//       box-shadow: 0 0 8px rgba(0,0,0,.3);
//       animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
//     }
//   }
  
//   @keyframes pulse-ring {
//     0% {
//       transform: scale(.33);
//     }
//     80%, 100% {
//       opacity: 0;
//     }
//   }
  
//   @keyframes pulse-dot {
//     0% {
//       transform: scale(.8);
//     }
//     50% {
//       transform: scale(1);
//     }
//     100% {
//       transform: scale(.8);
//     }
//   }

//   video container
// .videoContainer
// {
//    position:absolute;
//    height:100%;
//    width:100%;
//     overflow: hidden;
// }

// .videoContainer {
//     video {
//         min-width: 100%;
//         min-height: 100%;
//     }
// }

.videoBg{
    position: fixed;
    z-index: -1;
    // overflow: hidden;
}
@media(min-aspect-ratio: 16/9){
    .videoBg {
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .videoBg {
        width: auto;
        height: 100%;
    }
}