section{
    position: relative;
    height: 100%;
    width: 100%;
    #content{
        width: 100%;
        height: 100%;
        padding: 10% 15%;
    }
}
#maincall{
    margin-top:5%;
    margin-left: auto;
    margin-right: auto;
    background: #c1beb7;
  }