<div class="container-fluid" id="popup">
  <div class="row">
    <div class="col-md-12 col-xl-12" >
      <div class="chat_section">
        <div class="popup_header">
          <h6>One to One Chat</h6>
          <a class="close" (click)="closePopup()"></a>
        </div>
        <div class="container-fluid" style="  background: #f2f4f7;">

          <div class="row">

            <div class="col-md-4">
              <label>Search</label>
              <input class="form-control" style="margin-bottom: 12px;" type="text" id="inpkey" placeholder="Filter Result"
                #inputKey (keyup)="searchElement(inputKey.value)">
            </div>
            <div class="col-md-8">
              <div class="row">
                <!-- <div class="col-md-4">
                  <div class="form-group">
                    <label for="sel1">Core Sector</label>
                    <select class="form-control" id="sel1" name="sel1" [formControl]="core_sector" (change)="onSelectChange($event.target.value, 'csect')">
                      <option *ngFor="let cs of coreSelectorArr;let i=index" [ngValue]="cs.value" [disabled]="i===0">{{cs.name}}</option>
                    </select>
                  </div>
                </div> -->
                <!-- <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Core Business</label>
                    <select class="form-control" id="sel1" [formControl]="core_business" (change)="onSelectChange($event.target.value, 'cbusi')">
                      <option *ngFor="let cb of coreBusinessArr; let i=index" [ngValue]="cb.value" [disabled]="i===0">{{cb.name}}</option>
                    </select>
                  </div>
                </div> -->

                <!-- <div class="col-md-4">
                  <div class="form-group" style="display: table-caption">
                    <label for="sel1">Clear All</label>
                    <button class="btn btn-secondary" (click)="clearAll()">Clear All</button>
                  </div>
                </div> -->
                <!-- <div class="col-md-4">
                    <div class="form-group">
                        <label for="sel1">Core Selector</label>
                        <select class="form-control" id="sel1" formControlName="core_sector"  (change)="onSelectChange($event.target.value)">
                          <option [ngValue]="'choose Sector'" disabled>Choose Sector</option>
                          <option *ngFor="let cs of coreSelectorArr" [ngValue]="cs">{{cs}}</option>
                        </select>
                      </div>
                </div> -->
              </div>
              <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-row align-items-center">
                  <div class="col-5 my-1">

                    <div class="form-group">
                      <label for="sel1">Core Selector</label>
                      <select class="form-control" id="sel1" formControlName="core_sector"  (change)="onSelectChange($event.target.value)">
                        <option [ngValue]="'choose Sector'" disabled>Choose Sector</option>
                        <option *ngFor="let cs of coreSelectorArr" [ngValue]="cs">{{cs}}</option>
                      </select>
                    </div>
                    <div class="form-check">
                    </div>
                  </div>
                  <div class="col-4 my-1">

                    <div class="form-group">
                      <label for="">Core Business</label>
                      <select class="form-control" id="sel1" formControlName="core_business">
                        <option [ngValue]="null" disabled>Choose Business</option>
                        <option *ngFor="let cb of coreBusinessArr" [ngValue]="cb">{{cb}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-3 my-1">
                    <button [disabled]="true?form.invalid:false" type="submit" class="btn btn-success" style="margin-top:.7rem">Go</button>
                  </div>
                </div>
              </form> -->
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-md-12 col-xl-12 pl-0">

              <div class="row">
                <div class="col-md-4 col-xl-4">
                  <!-- <div class="search_input">
                        <div class="search-container">
                          <input type="text"  id="input" #inputKey (keyup)="searchElement(inputKey.value)" placeholder="Search.."
                            name="search">
                          <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                      </div> -->
                  <ul class="chat_profile">
                    <ng-container *ngFor="let chat of allChatList; let i = index">
                      <!-- {{chat|json}} -->
                      <li *ngIf="(sender_name !== chat.name)" (click)="selectedChat(chat, i)" [ngClass]="(allChatIndex === i)?'activeChat':'notActive'"
                        title="{{chat.name}}">
                        <div class="img_avatar">
                          <img src="https://cdn1.vectorstock.com/i/1000x1000/23/70/man-avatar-icon-flat-vector-19152370.jpg"
                            alt="">
                        </div>
                        <div id="chatName">
                          <p style="font-size: 10px;margin-bottom: 0px !important;margin-top: 2px;">{{chat.name}}</p>
                          <!-- <p style="font-size: 10px;margin-bottom: 0px !important;">{{chat.designation | slice:0:20}}</p> -->
                          <p style="font-size: 8px;margin-bottom: 0px !important;margin-top: 6px;"title="{{chat.company}}">{{chat.company | slice:0:21}}</p>
                        
                          <div *ngIf="(chat.is_online==='1')">
                            <i class="fa fa-circle" style="color: green; font-size: 12px"></i>
                          </div>
                        </div>
                      </li>
                    </ng-container>
                  </ul>
                </div>
                <div class="col-md-8 col-xl-8">
                  <div class="chat_box pt-2" id="chatss">
                    <ul class="chat_message" id="chat_messaged" *ngIf="chatMessage.length >=1" #scroll [scrollTop]="scroll.scrollHeight">
                      <li class="chat_messageList" *ngFor="let msg of chatMessage">
                        <div class="img_avatar"> <img src="https://cdn1.vectorstock.com/i/1000x1000/23/70/man-avatar-icon-flat-vector-19152370.jpg"
                            alt=""></div>
                        <p>
                          <span class="person">
                            <a href="javascript:void(0);" class="checkProfile">
                              <span *ngIf="msg.sender_id === sender_id">{{msg.sender_name}}</span>
                              <span *ngIf="msg.sender_id !== sender_id">{{msg.sender_name}}</span>
                            </a>
                          </span>
                          <span class="time">{{msg.created | date: 'medium'}}</span>
                        </p>
                        <div class="text_message">{{msg.msg}}</div>
                      </li>
                    </ul>
                    <div class="chat_message" *ngIf="chatMessage.length === 0">
                      <div class="p-2">
                        <div id="startChat">
                            <p> No Chat Available. Start Chat.</p>
                            <!-- <p> No Chat Available with {{receiver_name}}.</p> -->
                            <!-- <p>Start Chat</p> -->
                        </div>
                      </div>
                    </div>
                    <!-- <ul class="chat_message">
                          <li class="chat_messageList" *ngFor="let chat of commentsList">
                            <div class="img_avatar"> <img src="../../../assets/img/default_avatar.png" alt=""></div>
                            <p>
                              <span class="person">
                                <a href="javascript:void(0);" class="checkProfile">{{chat.name}}</a>
                              </span>
                              <span class="time">{{chat.created | date: 'medium'}}</span>
                            </p>
                            <div class="text_message">{{chat.comment}}</div>
                          </li>
                        </ul> -->
                  </div>

                  <div class="message_input">
                    <input name="message" minlength="1" autocomplete="off" placeholder="Type a message and press enter"
                      [formControl]="textMessage" (keyup.enter)="postOneToOneChat(textMessage)" maxlength="200" type="text"
                      id="query" value="">
                    <button type="submit" class="btn borderBtn SubmitBut" id="chatBtn" (click)="postOneToOneChat(textMessage)">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="currentColor" d="M1.101 21.757L23.8 12.028 1.101 2.3l.011 7.912 13.623 1.816-13.623 1.817-.011 7.912z"></path>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-4 col-xl-4">
              <div class="online_chat p-2">
                <select (change)="getType($event.target.value)">
                  <option value="normal">Normal</option>
                  <option value="network">Network</option>
                </select>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>