<div class="text-center multi-mt-1">
    <span class="lines text-2"> Sponsors 2021</span>
    <div *ngFor="let sponsor of getSponsorList">
        <div class="multi-mt-1">
            <p class="text-1">{{sponsor?.name}}</p>
        </div>
        <div style="cursor: pointer;" (click)="openNewTabForSponsor(sponsor?.sponsor)">
            <img [src]="sponsor?.image" class="image-styling" />
        </div>
    </div>
</div>