.lines {
    border-top: 1px solid #CEC8BC;
    border-bottom: 1px solid #CEC8BC;
}
.text-center{
    text-align:center;
}
.text-2{
    color: #CEC8BC;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
    font-family: 'Champion', sans-serif;
}
.multi-mt-1{
    margin-top:20px;
}
.text-1{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    color: #CEC8BC;
}
.image-styling{
    width:250px;
}
.text-3{
    font-weight: bold;
    color: #333;
    font-size: 18px;
    font-family: "Georgia", "Times New Roman", serif;
}