
<section>
  <div id="content">
    <div id="content_network">
      <div id="bg">
        <img src="../../../assets/philips/Lounge.jpg" alt="">        
        <div class="chatconnection">
          <div *ngFor="let chat of allNames; let i=index" class="chat{{i+1}}" (click)="openChat()">
            <div class="pulse"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




