
section{
    position: relative;
    height: 100%;
    width: 100%;
    #content{
        position: relative;
        #content_network{
            position: relative;
            height: 100%;
            width: 100%;
            #bg{
                position: relative;
                height: 100%;
                width: 100%;
                display: block;
                img{
                    width: 100vw;
                    height: 105vh;
                }
            }
        }
    }
}
.letsChat {
    position: absolute;
    top: 35%;
    right: 14%;
    cursor: pointer;
    height: 7vw;
    width: 11vw;
  .pulse{
      position: absolute;
      top: 40%;
      right: 15%;
      cursor: pointer;
  }
}

.showVideoPopup {
    position: absolute;
    top: 27%;
    right: 34%;
    cursor: pointer;
    height: 12vw;
    width: 12vw;

  .pulse{
      position: absolute;
      top: 40%;
      right: 40%;
      cursor: pointer;
  }
}
#modal-video{
    border-radius:5px; 
    padding: 0 3px;   
    position: relative;
    top: 3px;
    #closePopup{
        position: absolute;
        top: -16px;
        right: -16px;
        line-height: 24px;
        font-size: 30px;
        background: #e40e38;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        font-weight: 500;
        z-index: 1000;
        cursor: pointer;
    }
}
$test: 13%;
.chatconnection{
    position: absolute;
    top: 24%;
    left: 18%;
    height: 36vh;
    width: 64vw;
    .chat1, .chat2, .chat3, .chat4, .chat5, .chat6, .chat7, .chat8, .chat9, .chat10,.chat11, .chat12, .chat13, .chat14, .chat15, .chat16, .chat17{
        position: absolute;
        cursor: pointer;
        .pulse{
            position: absolute;
            top: 25%;
            left: 20%;
        }
    }

    .chat1, .chat2, .chat3, .chat4, .chat5, .chat6, .chat7, .chat8, .chat9{
        position: absolute;
        top: 12%;
        // background: black;
        
    }
    .chat10, .chat11, .chat12, .chat13, .chat14, .chat15, .chat16, .chat17{
        position: absolute;
        top: 51%;
    }
    .chat1{
        left:0;
        height: 13vh;
        width: 8vw;
    }
    .chat2{
        left:13%;
        height: 13vh;
        width: 7vw;
    }
    .chat3{
        left:24%;
        height: 13vh;
        width: 7vw;
    }
    .chat4{
        left:34.9%;
        height: 13vh;
        width: 6vw;
    }
    .chat5{
        left:44.5%;
        height: 13vh;
        width: 6vw;
    }
    .chat6{
        left:55.5%;
        height: 13vh;
        width: 6vw;
    }
    .chat7{
        left:66%;
        height: 13vh;
        width: 6vw;
    }
    .chat8{
        left:77%;
        height: 13vh;
        width: 6+vw;
    }
    .chat9{
        left:88%;
        height: 13vh;
        width: 7vw;
    }
    .chat10{
        left: 7.3%;
        height: 13vh;
        width: 7vw;    
    }
    .chat11{
        left: 18.3%;
        height: 13vh;
        width: 7vw;    
    }
    .chat12{
        left: 30%;
        height: 13vh;
        width: 6vw;    
    }
    .chat13{
        left: 40%;
        height: 13vh;
        width: 6vw;     
    }
    .chat14{
        left: 50%;
        height: 13vh;
        width: 6vw;     
    }
    .chat15{
        left: 60%;
        height: 13vh;
        width: 6vw;     
    }
    .chat16{
        left: 72%;
        height: 13vh;
        width: 6vw; 
    }
    .chat17{        
        left: 82%;
        height: 13vh;
        width: 7vw; 
    }
}