<div style="font-family: 'Montserrat', sans-serif;">
    <div style="position: relative;">
        <div class="tooltiptext" (mouseleave)="mouseleft()" (mouseenter)="mousein()">{{cardDetail?.description}}</div>

        <div class="hexagon">
            <div class="hex-inner">
                <div style="cursor:pointer; margin-left:2px; margin-top: -14px;" class="MultiAudi">

                    <div>
                        <i class="fa fa-info" (mouseleave)="mouseleft()" (mouseenter)="mousein()"></i>

                    </div>
                </div>
                <div class="audi-text" title="{{cardDetail?.title.toUpperCase()}}">{{cardDetail?.title.length>10? cardDetail?.title.toUpperCase( ).substring(0,10)+'...': cardDetail?.title.toUpperCase()}}
                 <p style="color:dimgrey;font-family: Open Sans;font-size: 15px;">{{cardDetail?.booth_size}} &nbsp;|&nbsp;<i style="color: #222222;" class="fa fa-users" aria-hidden="true"></i>&nbsp;{{cardDetail?.max_participants}}</p>
                </div>
                
                <div class="button-alignment" id="pointer4">
                    <button [routerLink]="'/theme1/tonelayout/sessions/'+cardDetail.channel_name" class="btn btn-white">Join Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal fade sessionListingModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="row" id="maincall">   
            <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;" id="loader"><i class="fa fa-spinner fa-spin" style="font-size:44px"></i>  </div>
         </div>
    </div>
</div>
</div> -->