section{
    position: relative;
    width: 100%;
    height: 100%;
    #content{
      position: relative;
      #exhibition_content{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        max-width: 100%;
        margin: auto;
        #fullBg{
          position: relative;
          height: 100%;
          width: 100%;
          display: block;
          img{
            width: 100vw;
            height: 100vh;
          }
        }
      }
    }
  }
  .mobile_table{
    display:none;
  }
  .desktop_hexagon {
    display: block;
  }
  @keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
  }
  
  .MultiAudi{
    position: absolute;
    // top: 43%;
    // left: 15%;
    // background: black;
    cursor: pointer;
    height: 8vw;
    width: 8vw;
    // .pulse{
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    // }
  }
  .MultiAudi .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: black;
    text-align: left;
    border-radius: 6px;
    padding: 7px 7px;
    position: absolute;
    z-index: 1;
    top: 4.9rem;
    left: 45%;
    margin-left: -19px;
    font-size: 19px;
    color: #FFFFFF;
  
  }
  .MultiAudi:hover .tooltiptext {
    visibility: visible;
  }

  .pulse {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-505, -50%);
    width: 17px;
    height: 17px;
    background: #e90f08;
    border: 2px solid #e90f08;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .pulse:before,
  .pulse:after {
    content: '';
    position: absolute;
    left: -30px;
    top: -30px;
    right: -30px;
    bottom: -30px;
    border: 2px solid #e90f08;
    border-radius: 50%;
    animation: animate 2s linear infinite
  }

  .pulse:after {
    animation-delay: 1s;
  }

  @keyframes animate {
    0% {
      transform: scale(0.8);
    }

    100% {
      transform: scale(0.1);
    }
  }

  @media only screen and (max-width: 767px) {
    .mobile_table{
      display: block;
    top: 60px;
    position: relative;
    width: 70%;
    height: 285px;
    overflow: scroll;
    margin: 0 auto;
    background-color: white;
    }
    .desktop_hexagon {
      display:none;
    }

    table {
      font-family: arial, sans-serif,'Montserrat';                
      border-collapse: collapse;
      width: 100%;
      height:auto;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
  }

  @media only screen and (min-width: 1025px) and (max-width: 1422px) {
  
  }
  