<section>
    <div id="container_section_wrap">
        <div id="container_section_content">
            <div id="imgbg_section"
            [ngStyle]="{'background-image':getBackGroundImageUrl(main_banner)}"
            style="height: 100vh;background-repeat: no-repeat;background-position: 100%;background-size: cover;">
                <!-- <img [src]="main_banner" class="img-fluid" alt=""> -->
                <!-- <ng-container *ngFor="let data of main_audis">
                    <div [ngStyle]="{'top':data.pos_top+'%', 'left':data.pos_left+'%'}" class="MultiAudi" (click)="gotoCommitToSucceed(data.id)">
                        <div class="tooltiptext">{{data.title}}</div>
                        <div class="pulse"></div>
                    </div>
                </ng-container> -->
                <div class="desktop_hexagon" style="position:relative; top:35%;">
                    <div class="row" style="padding-left: 122px;padding-top: 27px;overflow-y: scroll;padding-bottom: 28px;">
               <ng-container *ngFor="let data of main_audis;index as i">
                <div class="col-md-3" style="margin-right: -33px;margin-bottom: 31px;">
                       <app-t-one-multi-auditorium-card [color]="getColor(i)" [cardDetail]="data"></app-t-one-multi-auditorium-card>
                    </div>
              </ng-container>
            </div>
               </div>

               <div class="mobile_table">
                <table>
                    <tr>
                      <th>Name</th>
                      <th>Action</th>
                    </tr>
                    <ng-container *ngFor="let data of main_audis;index as i">
                        <tr>
                            <td>{{data?.title.toUpperCase()}}</td>
                            <td>{{data?.status === "1"?'Enable':'Disable'}}</td>
                        </tr>
                    </ng-container>
                </table>
               </div>
                <!-- <div id="pointer1" data-toggle="tooltip" data-placement="top" title="Take Selfie" routerLink="/theme1/tonelayout/photobooth/selfie">
                    <div class="pulse"></div>
                </div> -->
            </div>
        </div>
    </div>
</section>
