@import 'https://fonts.googleapis.com/css?family=Tangerine';
// .footer-nav{
//     font-family: 'Courier New', Courier, monospace;
// }
#quizStart{
  position: fixed;
  z-index: 1000000;
  background: grey;
  color: white;
  padding: 7px;
  border-radius: 5px;
  top: 3%;
  left: 48%;
  transform: translate(-50%);
}
.hide-in-desktop{
  display:none;
}
#potrait {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
  }

  img {
    width: 60%;
  }
}

.sidenav3 {
  #sidenavList {
    li:hover {
      a {
        img {
          transform: scale(1.05);
          transition: .3s;
        }
      }
    }
  }
}

.foot_sidenav {
  position: relative;
  animation: footmove 18s linear infinite;
}

.sidenav3 {
  height: 100%;
  width: 70px !important;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  #sidenavList {
    li {
      a {
        img {
          transform: scale(.82);
          transition: .3s;
        }

        div {
          // font-size: 8.5px;

        }
      }
    }
  }

  #sidenavList {
    li:hover {
      a {
        img {
          transform: scale(1.05);
          transition: .3s;
        }
      }
    }
  }
}

.sidenav3 a {
  padding: 10px 0px 10px 0px;
  text-decoration: none;
  font-size: 10px;
  color: #818181;
  display: block;
  text-decoration: none;
  font-size: 10px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
  margin: 0 0 3px 3px;
  // font-size: 8px;
}

.sidenav3 a:hover {
  color: #000;
}

#hamburger {
  font-size: 20px;
  cursor: pointer;
  background: #141433;
  color: white;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin: 10px;
  text-align: center;
  padding: 6px;
  line-height: 30px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 36px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);

}

.sidenav a {
  padding: 10px 0px;
  text-decoration: none;
  font-size: 10px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;

  img {
    width: 20px;
    transition: .3s;
    margin-bottom: 5px;
  }

  span {
    margin: 0 0 3px 3px;
    // font-size: 8px;
  }
}

.sidenav {
  #sidenavList {
    li:hover {
      a {
        img {
          transform: scale(1.45);
          transition: .3s;
        }
      }
    }
  }
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#sidebar {
  position: absolute;
  top: 0;
  z-index: 1000;
}

#sidenavList {
  list-style-type: none;
  padding: 1px;

  li {
    padding: 3px;

  }
}

#signout {
  position: fixed;
  top: 10px;
  right: 10px;
  background: #141433;
  color: white;
  z-index: 100;
  font-weight: 600;
  font-size: 14px;
  // padding: 2px;
  border: 1px solid #060a39;
  border-radius: 25px;
  cursor: pointer;

  a {
    text-transform: capitalize;
  }
}

@media screen and (max-width: 767px) {
  .footer-nav {
    display: none;
  }
  #sidebar {
    z-index: 100;
  }
  .hide-in-mobile {
    display: none;
  }
  .hide-in-desktop{
    display:block;
  }
  .menu-mobile-item {
    font-family: 'Open Sans';
    font-size: 12px;
    color: #222222;
    margin-left: 5px;
    margin-top: 5px;
  }
  .navbar-nav.mr-auto {
    padding: 8px;
    height: 215px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
  }
  .navbar-dark .navbar-toggler {
    color: #222222!important;
    background: grey!important;
    padding-top: 8px!important;
  }
  .navbar {
    position: absolute!important;
    top: 0!important;
  }
  .navbar-nav {
    position: relative!important;
    top: 7px!important;
    background: #FFFFFF!important;
  }
  .menu-icon-mobile{
    height:22px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav3 {
    padding-top: 15px;
    z-index: 9999;
  }
  .sidenav3 a {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  #hamburger {
    display: none;
  }
  .sidenav3 {
    width: 74px !important;

    #sidenavList {
      li {
        transition: .3s;

        a {
          img {
            transform: scale(.7);
            transition: .3s;
          }

          div {
            // font-size: 7px;
            // text-transform: capitalize;
          }
        }
      }
    }
  }
  #usermgmnt {
    right: 55px;
  }

}

.sideLinkActive {
  span {
    border-bottom: 2px solid #f15c25;
    color: #f15c25;
    margin: 0 0 3px 3px;
  }
}

.menu_item_font {
  font-size: 9px;
  line-height: 15px;
  word-break: break-all;
  text-transform: capitalize;
  text-align: center;
}


@media (min-width: 1440px) and (max-width: 2560) {
  .footer-nav {
    display: none;
  }
  #mySidenav {
    display: block;
  }
  #sidebar {
    z-index: 100;
  }
  .sidenav3 a {
    text-align: center;
  }
  .sidenav a {
    text-align: center;
  }

}
