<div [ngStyle]="{'display':landscape?'none':'block'}">
    <div id="potrait">
        <img src="assets/img/rotate.gif" alt="">
        <p>Switch to Landscape view</p>
    </div>
</div>
<div id="quizStart" *ngIf="isquizStarted" (click)="gotoAudi()">Quiz started</div>
<div [ngStyle]="{'display':landscape?'block':'none'}">
    <div class="sidenav3 hide-in-mobile" style="width: 84px">
        <ul id="sidenavList">
            <li *ngIf="exhiEna == '1'">
                <a routerLink="/theme1/tonelayout/exhibition" (click)="stepUpAnalytics('exhibition')">
                    <img src="../../../assets/icons/Exhibitors.png"
                        alt="">
                    <div class="menu_item_font">EXHIBITION</div>
                </a>
            </li>
            <li *ngIf="loungeEna == '1'">
                <a routerLink="/theme1/tonelayout/lounge" (click)="stepUpAnalytics('lounge')">
                    <img src="../../../assets/icons/waiting-room.png"
                        alt="">
                    <div class="menu_item_font">LOUNGE</div>
                </a>
            </li>
            <li>
                <a routerLink="/theme1/tonelayout/appointments" (click)="stepUpAnalytics('appointments')"><img src="../../../assets/icons/waiting-room.png"
                        alt="">
                    <div class="menu_item_font">APPOINTMENTS</div>
                </a>
            </li>
            <li>
                <a (click)="toggleAttendeesModal(true)" (click)="stepUpAnalytics('attendees')"><img src="../../../assets/icons/waiting-room.png"
                        alt="">
                    <div class="menu_item_font">ATTENDEES</div>
                </a>
            </li>
            <li>
                <a class="nav-link sign" (click)="logout(); stepUpAnalytics('logout')" title="Logout" role="button">
                    <img src=".../../../assets/icons/Logout.png"
                            alt="">
                        <br>
                        <span class="menu_item_font">LOGOUT</span>
                </a>
            </li>
        </ul>
    </div>
    <main>
        <router-outlet ></router-outlet>
    </main>
    <div id="sidebar">
        <div id="mySidenav" class="sidenav hide-in-mobile" style="width: 84px">
            <ul id="sidenavList">
                <li *ngIf="LobbyEna == '1'">
                    <a routerLink="/theme1/tonelayout/lobby" (click)="stepUpAnalytics('lobby')"><img src="../../../assets/icons/home.png"
                            alt="">
                        <div class="menu_item_font">LOBBY</div>
                    </a>
                </li>
                <li *ngIf="agendaEna == '1'">
                    <a data-toggle="modal" (click)="showModal('.t_one_agendaModal'); stepUpAnalytics('agenda')"><img src="../../../assets/icons/agenda.png"
                            alt="">
                        <div class="menu_item_font">AGENDA</div>
                    </a>
                </li>
                <li *ngIf="audiEna == '1'">
                    <a (click)="checkAudi();stepUpAnalytics('auditorium')"><img src="../../../assets/icons/Auditorium.png"
                            alt="">
                        <div class="menu_item_font">AUDITORIUM</div>
                    </a>
                </li>
                <li *ngIf="boothEna == '1'">
                    <a routerLink="/theme1/tonelayout/photobooth" (click)="stepUpAnalytics('photobooth')"><img src="../../../assets/icons/camera.png"
                            alt="">
                        <div class="menu_item_font">PHOTOBOOTH</div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="hide-in-desktop">
    <nav class="navbar navbar-expand-lg navbar-dark">

        <button class="navbar-toggler" type="button"
                (click)="toggleNavbar()">
            <span>&#9776;</span>
        </button>


        <div class="collapse navbar-collapse"
             [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" routerLink="/theme1/tonelayout/exhibition/exhibition" (click)="stepUpAnalytics('exhibition')">
                        <div><img class="menu-icon-mobile" src="../../../assets/icons/Exhibitors.png" alt=""></div>
                        <div class="menu-mobile-item">EXHIBITION</div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center"
                       routerLink="/theme1/tonelayout/lounge" (click)="stepUpAnalytics('lounge')">
                        <div><img class="menu-icon-mobile" src="../../../assets/icons/waiting-room.png" alt=""></div>
                        <div class="menu-mobile-item">LOUNGE</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center"
                       routerLink="/theme1/tonelayout/appointments" (click)="stepUpAnalytics('appointments')">
                        <div><img class="menu-icon-mobile" src="../../../assets/icons/waiting-room.png" alt=""></div>
                        <div class="menu-mobile-item">APPOINTMENTS</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" (click)="toggleAttendeesModal(true)" (click)="stepUpAnalytics('attendees')">
                        <div><img class="menu-icon-mobile" src="../../../assets/icons/waiting-room.png" alt=""></div>
                        <div class="menu-mobile-item">ATTENDEES</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" routerLink="/theme1/tonelayout/lobby" (click)="stepUpAnalytics('lobby')">
                        <div><img class="menu-icon-mobile" src="../../../assets/icons/home.png" alt=""></div>
                        <div class="menu-mobile-item">LOBBY</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" data-toggle="modal" (click)="showModal('.t_one_agendaModal'); stepUpAnalytics('agenda')">
                        <div><img class="menu-icon-mobile" src="../../../assets/icons/agenda.png" alt=""></div>
                        <div class="menu-mobile-item">AGENDA</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" (click)="checkAudi();stepUpAnalytics('auditorium')">
                        <div><img class="menu-icon-mobile" src="../../../assets/icons/Auditorium.png" alt=""></div>
                        <div class="menu-mobile-item">AUDITORIUM</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" routerLink="/theme1/tonelayout/photobooth" (click)="stepUpAnalytics('photobooth')">
                        <div><img class="menu-icon-mobile" src="../../../assets/icons/camera.png" alt=""></div>
                        <div class="menu-mobile-item">PHOTOBOOTH</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" (click)="logout(); stepUpAnalytics('logout')" role="button">
                        <div><img class="menu-icon-mobile" src=".../../../assets/icons/Logout.png" alt=""></div>
                        <div class="menu-mobile-item">LOGOUT</div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
    
    

    <!-- <span id="signout">
        <a class="nav-link sign" (click)="logout(); stepUpAnalytics('logout')" title="Logout" role="button">
        <span>Logout</span>
        </a>
    </span> -->
    <!-- <div id="sidebar">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" (click)="closeSidebar()">&times;</a>
            <ul id="sidenavList foot_sidenav">
                <li *ngIf="LobbyEna == '1'">
                    <a routerLink="/theme1/tonelayout/lobby" (click)="stepUpAnalytics('lobby')"><img src="../../../assets/icons/home.png"
                            alt="">
                        Lobby
                    </a>
                </li>
                <li *ngIf="agendaEna == '1'">
                    <a data-toggle="modal" (click)="showModal('.t_one_agendaModal'); stepUpAnalytics('agenda')"><img src="../../../assets/icons/agenda.png"
                            alt="">
                        Agenda
                    </a>
                </li>
                <li *ngIf="audiEna == '1'">
                    <a (click)="checkAudi();stepUpAnalytics('auditorium')"><img src="../../../assets/icons/Auditorium.png"
                            alt="">
                        Auditorium
                    </a>
                </li>
                <li *ngIf="boothEna == '1'">
                    <a routerLink="/theme1/tonelayout/photobooth" (click)="stepUpAnalytics('photobooth')"><img src="../../../assets/icons/camera.png"
                            alt="">
                        Photobooth
                    </a>
                </li>
                <li *ngIf="exhiEna == '1'">
                    <a routerLink="/theme1/tonelayout/exhibition/exhibition" (click)="stepUpAnalytics('exhibition')"><img src="../../../assets/icons/Exhibitors.png"
                            alt="">
                        Exhibition
                    </a>
                </li>
                <li *ngIf="loungeEna == '1'">
                    <a routerLink="/theme1/tonelayout/lounge" (click)="stepUpAnalytics('lounge')"><img src="../../../assets/icons/waiting-room.png"
                            alt="">
                        Lounge
                    </a>
                </li>
            </ul>
        </div>
        <div id="hamburger" (click)="openSidebar()">&#9776;</div>
    </div> -->
    <!-- <main [@fadeAnimation]="getRouterOutletState(o)">
        <router-outlet #o="outlet"></router-outlet>
    </main> -->
    <!-- <main>
        <router-outlet ></router-outlet>
    </main> -->
    <!-- <div class="footer-nav">
        <ul class="footer-nav1 foot_sidenav"> -->
            <!-- <ng-container *ngFor="let menu of menuItems">
                <li *ngIf="menu.data_target">
                    <a data-toggle="modal" (click)="showModal(menu.data_target); stepUpAnalytics('lobby')"><img src="{{menu.icon}}"
                            alt="">
                        <div>{{menu.name | titlecase}}</div>
                    </a>
                </li>
                <li *ngIf="!menu.data_target">
                    <a [routerLink]="[menu.path]" (click)="stepUpAnalytics('lobby')"><img src="{{menu.icon}}"
                            alt="">
                        <div>{{menu.name | titlecase}}</div>
                    </a>
                </li>
            </ng-container> -->
            
                <!-- <li *ngIf="LobbyEna == '1'">
                    <a routerLink="/theme1/tonelayout/lobby" (click)="stepUpAnalytics('lobby')"><img src="../../../assets/icons/home.png"
                            alt="">
                        <div>Lobby</div>
                    </a>
                </li>
                <li *ngIf="agendaEna == '1'">
                    <a data-toggle="modal" (click)="showModal('.t_one_agendaModal'); stepUpAnalytics('agenda')"><img src="../../../assets/icons/agenda.png"
                            alt="">
                        <div>Agenda</div>
                    </a>
                </li>
                <li *ngIf="audiEna == '1'">
                    <a (click)="checkAudi();stepUpAnalytics('auditorium')"><img src="../../../assets/icons/Auditorium.png"
                            alt="">
                        <div>Auditorium</div>
                    </a>
                </li>
                <li *ngIf="boothEna == '1'">
                    <a routerLink="/theme1/tonelayout/photobooth" (click)="stepUpAnalytics('photobooth')"><img src="../../../assets/icons/camera.png"
                            alt="">
                        <div>Photobooth</div>
                    </a>
                </li>
                <li *ngIf="exhiEna == '1'">
                    <a routerLink="/theme1/tonelayout/exhibition/exhibition" (click)="stepUpAnalytics('exhibition')"><img src="../../../assets/icons/Exhibitors.png"
                            alt="">
                        <div>Exhibition</div>
                    </a>
                </li>
                <li *ngIf="loungeEna == '1'">
                    <a routerLink="/theme1/tonelayout/lounge" (click)="stepUpAnalytics('lounge')"><img src="../../../assets/icons/waiting-room.png"
                            alt="">
                        <div>Lounge</div>
                    </a>
                </li>
                <li>
                    <a routerLink="/theme1/tonelayout/appointments" (click)="stepUpAnalytics('appointments')"><img src="../../../assets/icons/waiting-room.png"
                            alt="">
                        <div>My Appointments</div>
                    </a>
                </li>
                <li>
                    <a (click)="toggleAttendeesModal(true)" (click)="stepUpAnalytics('attendees')"><img src="../../../assets/icons/waiting-room.png"
                            alt="">
                        <div>My Attendees</div>
                    </a>
                </li> -->
                <!-- <li *ngIf="!menu.data_target">
                    <a [routerLink]="[menu.path]" (click)="stepUpAnalytics('lobby')"><img src="{{menu.icon}}"
                            alt="">
                        <div>{{menu.name | titlecase}}</div>
                    </a>
                </li> -->
            
        <!-- </ul>    
    </div> -->
</div>

<!-- required modals -->  
<div class="modal fade t_one_agendaModal" style="top: 21px;height: 600px;width: 1005px;margin: 0 auto;padding-right: 10px;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="top: -32px;left: -1px;">
        <div class="modal-content">
            <app-t-one-agenda></app-t-one-agenda>
        </div>
    </div>
</div>

<div class="modal fade t_one_feedbackModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <app-t-one-feedback></app-t-one-feedback>
        </div>
    </div>
</div>

<app-t-one-attendees *ngIf="showAttendeesModal" (toggleModal)="toggleAttendeesModal($event)"></app-t-one-attendees>
