<div class="modal fade t_one_chat_one_to_one" id="chat_one_to_one_Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="t_all_popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="t_all_section">
                            <div class="t_all_popup_header">
                                <h6>One To One Chat</h6>
                                <a class="t_all_close" (click)="closeChat()"></a>
                            </div>
                            <!-- <div id="t_one_chat_section">
                                
                            </div> -->
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row pt-2">
                                  <div class="col-md-12 col-xl-12 pl-0">
                                    
                                    <div class="row">
                                      <div class="col-md-4 col-xl-4">
                                          <div class="search_input">
                                              <div class="search-container">
                                                <input type="text"  id="input" #inputKey (keyup)="searchElement(inputKey.value)" placeholder="Search.."
                                                  name="search">
                                                <button type="submit"><i class="fa fa-search"></i></button>
                                              </div>
                                            </div>
                                        <ul class="chat_profile">
                                          <ng-container *ngFor="let chat of allChatList; let i = index">
                                            <li *ngIf="(sender_name !== chat.name)&&(storage.id!=chat.id)" (click)="selectedChat(chat, i)" [ngClass]="(allChatIndex == i)?'activeChat':'notActive'">
                                              <div class="img_avatar"> <img src="../../../../../assets/img/default_avatar.png" alt=""></div>
                                              <div id="chatName">
                                                {{chat.name}}
                                              </div>
                                            </li>
                                          </ng-container>
                                        </ul>
                                      </div>
                                      <div class="col-md-8 col-xl-8">
                                        <div class="chat_box pt-2" id="chatss">
                                          <ul class="chat_message" id="chat_messaged" *ngIf="chatMessage.length >=1" #chatbox [scrollTop]="chatbox.scrollHeight">
                                            <li class="chat_messageList" *ngFor="let msg of chatMessage" >
                                              <div class="img_avatar"> <img src="assets/download2.png" alt=""></div>
                                              <p>
                                                <span class="person">
                                                  <a href="javascript:void(0);" class="checkProfile">
                                                    <span *ngIf="msg.sender_id === sender_id">{{msg.sender_name}}</span>
                                                    <span *ngIf="msg.sender_id !== sender_id">{{msg.sender_name}}</span>
                                                  </a>
                                                </span>
                                                <span class="time">{{msg.created | date: 'medium'}}</span>
                                              </p>
                                              <div class="text_message">{{msg.msg}}</div>
                                            </li>
                                          </ul>
                                          <div class="chat_message" *ngIf="chatMessage.length === 0">
                                            <div class="p-2">
                                              <div id="startChat">
                                                <p *ngIf="isUserSelected">No Chat Available with {{receiver_name}}.</p>
                                                <p *ngIf="!isUserSelected">Select user whom you want to chat</p>
                                                <!-- <p>Start Chat</p> -->
                                              </div>
                                            </div>
                                          </div>
                                          <!-- <ul class="chat_message">
                                                <li class="chat_messageList" *ngFor="let chat of commentsList">
                                                  <div class="img_avatar"> <img src="../../../assets/download2.png" alt=""></div>
                                                  <p>
                                                    <span class="person">
                                                      <a href="javascript:void(0);" class="checkProfile">{{chat.name}}</a>
                                                    </span>
                                                    <span class="time">{{chat.created | date: 'medium'}}</span>
                                                  </p>
                                                  <div class="text_message">{{chat.comment}}</div>
                                                </li>
                                              </ul> -->
                                        </div>
                                        
                                    <div class="message_input" *ngIf="isUserSelected">
                                        <input name="message" minlength="1" autocomplete="off" placeholder="Type a message and press enter" [formControl]="textMessage"
                                          (keyup.enter)="postOneToOneChat(textMessage)" maxlength="200" type="text" id="query" value="">
                                        <button type="submit" class="btn borderBtn SubmitBut" id="chatBtn" (click)="postOneToOneChat(textMessage)">
                                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                            <path fill="currentColor" d="M1.101 21.757L23.8 12.028 1.101 2.3l.011 7.912 13.623 1.816-13.623 1.817-.011 7.912z"></path>
                                          </svg>
                                        </button>
                                      </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- <div class="col-md-4 col-xl-4">
                                    <div class="online_chat p-2">
                                      <select (change)="getType($event.target.value)">
                                        <option value="normal">Normal</option>
                                        <option value="network">Network</option>
                                      </select>
                                    </div>
                                  </div> -->
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 