#links {
  position: fixed;
  bottom: 18%;
  width: 51px;
  background: white;
  right: 76px;
  // z-index: 10000;
  display: grid;
  text-align: center;
  border-radius: 5px;
  a{
    padding: 3px;
    margin: 3px;
    i{
      font-size: 24px;
      background-color: white;
      border: 5px;
    }
  }  
}
#pointer1 {
  position: absolute;
  // top: 7.5%;
  outline: -webkit-focus-ring-color auto 0px !important;
  width: 16%;
  height: 7%;
  // right: 6.5%;
  cursor: pointer;
  // .pulsating-circle{
  //     position: absolute;
  //     top: 86%;
  //     left: 50%;
  // }
  // .pulse {
  //   position: absolute;
  //   top: 86%;
  //   left: 50%;
  //   transform: translate(-505, -50%);
  //   width: 17px;
  //   height: 17px;
  //   background: #e90f08;
  //   border: 2px solid #e90f08;
  //   border-radius: 50%;
  //   box-sizing: border-box;
  // }

  // .pulse:before,
  // .pulse:after {
  //   content: '';
  //   position: absolute;
  //   left: -30px;
  //   top: -30px;
  //   right: -30px;
  //   bottom: -30px;
  //   border: 2px solid #e90f08;
  //   border-radius: 50%;
  //   animation: animate 2s linear infinite
  // }

  // .pulse:after {
  //   animation-delay: 1s;
  // }

  // @keyframes animate {
  //   0% {
  //     transform: scale(0.8);
  //   }

  //   100% {
  //     transform: scale(0.1);
  //   }
  // }
}
.box{
  display: flex;
  align-items: center;
  margin: 17px;
  padding:12px;
  border: 4px solid #f2ebeb;
  border-radius: 4px;
}

.border-left-on-box {
  width: 5px;
  background-color: #d0bebe;
  height: 83px;
  position: relative;
  left: 21px;
  top: 45px;
}
.border-right-on-box {
  width: 5px;
  background-color: #d0bebe;
  height: 83px;
  position: relative;
  right: 21px;
  top: 45px;
}
.item {
  width: 100%
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container > div {
  flex: 50%;
}

#pointer2 {
  position: absolute;
  // top: 16.5%;
  outline: -webkit-focus-ring-color auto 0px !important;
  width: 16%;
  height: 7%;
  // right: 6.5%;
  cursor: pointer;
  // .pulsating-circle{
  //     position: absolute;
  //     top: 86%;
  //     left: 50%;
  // }
  .pulse {
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-505, -50%);
    width: 17px;
    height: 17px;
    background: #e90f08;
    border: 2px solid #e90f08;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .pulse:before,
  .pulse:after {
    content: '';
    position: absolute;
    left: -30px;
    top: -30px;
    right: -30px;
    bottom: -30px;
    border: 2px solid #e90f08;
    border-radius: 50%;
    animation: animate 2s linear infinite
  }

  .pulse:after {
    animation-delay: 1s;
  }

  @keyframes animate {
    0% {
      transform: scale(0.8);
    }

    100% {
      transform: scale(0.1);
    }
  }
}

#pointer3 {
  position: absolute;
  // top: 25.5%;
  outline: -webkit-focus-ring-color auto 0px !important;
  width: 16%;
  height: 7%;
  // right: 6.5%;
  cursor: pointer;
  // .pulsating-circle{
  //     position: absolute;
  //     top: 86%;
  //     left: 50%;
  // }
  .pulse {
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-505, -50%);
    width: 17px;
    height: 17px;
    background: #e90f08;
    border: 2px solid #e90f08;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .pulse:before,
  .pulse:after {
    content: '';
    position: absolute;
    left: -30px;
    top: -30px;
    right: -30px;
    bottom: -30px;
    border: 2px solid #e90f08;
    border-radius: 50%;
    animation: animate 2s linear infinite
  }

  .pulse:after {
    animation-delay: 1s;
  }

  @keyframes animate {
    0% {
      transform: scale(0.8);
    }

    100% {
      transform: scale(0.1);
    }
  }
}

#pointer4 {
  position: absolute;
  // top: 34.5%;
  outline: -webkit-focus-ring-color auto 0px !important;
  width: 16%;
  height: 7%;
  // right: 6.5%;
  cursor: pointer;
  // .pulsating-circle{
  //     position: absolute;
  //     top: 86%;
  //     left: 50%;
  // }
  .pulse {
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-505, -50%);
    width: 17px;
    height: 17px;
    background: #e90f08;
    border: 2px solid #e90f08;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .pulse:before,
  .pulse:after {
    content: '';
    position: absolute;
    left: -30px;
    top: -30px;
    right: -30px;
    bottom: -30px;
    border: 2px solid #e90f08;
    border-radius: 50%;
    animation: animate 2s linear infinite
  }

  .pulse:after {
    animation-delay: 1s;
  }

  @keyframes animate {
    0% {
      transform: scale(0.8);
    }

    100% {
      transform: scale(0.1);
    }
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#heading {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 100%;
  /* text-align: center; */
  transform: translate(-5%);

  div {
    color: white;
    font-size: 24px;
  }
}

.MultiAudi {
  position: absolute;
  cursor: pointer;
  display: inline-flex;

}

.MultiAudi .tooltiptext {
  font-family: Open Sans;
  visibility: hidden;
  background-color: black;
  text-align: left;
  border-radius: 6px;
  padding: 7px 7px;
  position: relative;
  z-index: 1;
  top: 2rem;
  right: 50px;
  font-size: 16px;
  color: #FFFFFF;


}

.MultiAudi:hover .tooltiptext {
  visibility: visible;
}

.network {
  position: absolute;
  cursor: pointer;
  display: inline-flex;

}

.network .tooltiptext-1 {
  visibility: hidden;
  font-family: Open Sans;
  background-color: black;
  text-align: left;
  border-radius: 6px;
  padding: 7px 7px;
  position: relative;
  z-index: 1;
  top: 2rem;
  right: 50px;
  font-size: 16px;
  color: #FFFFFF;
  white-space: nowrap;


}

.network:hover .tooltiptext-1 {
  visibility: visible;
}
