<section>
    <div id="container_section_wrap">
        <div id="container_section_content">
            <div id="imgbg_section">
                <img [src]="main_banner" class="img-fluid" alt="">
                <div [ngStyle]="{'top':top_groupchat+'%', 'left':left_groupchat+'%'}" *ngIf="groupchat == '1'" id="pointer1" (click)="showrequired('t_one_lounge_groupchat')" title="Group chat">
                    <div class="pulse"></div>
                    <!-- <div class="pulse"></div> -->
                </div>
                <div [ngStyle]="{'top':top_video+'%', 'left':left_video+'%'}" id="pointer2">
                    <a *ngIf="download_click != ''" [href]="download_click" download="video" target="_blank" title="Download"><div class="pulse"></div></a>
                  </div>
                <div [ngStyle]="{'top':top_photobooth+'%', 'left':left_photobooth+'%'}"*ngIf="photo == '1'" id="pointer3" routerLink="/theme1/tonelayout/photobooth" title="Photobooth">
                    <div class="pulse"></div>
                </div>
                <div [ngStyle]="{'top':top_onetoone+'%', 'left':left_onetoone+'%'}" *ngIf="onetoone == '1'" id="pointer4" routerLink="/theme1/tonelayout/lounge/chat" [queryParams]="{count:counter}" title="One to One Chat">
                    <div class="pulse"></div>
                </div>
                <div [ngStyle]="{'top':'31'+'%', 'left':'73'+'%'}" *ngIf="onetoone == '1'"  id="pointer4" routerLink="/theme1/tonelayout/sessions" title="Session List">
                    <div class="pulse"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="links">
    <ng-container *ngFor="let i of socialLinks">
        <a *ngIf="i.url != ''" href="https://www.{{i.url}}.com" target="_blank">
            <i class="fa fa-{{i.icon}}"></i>
        </a>
    </ng-container>
</div>
<router-outlet></router-outlet>
