<section>
    <div id="content-wrap">
      <div id="bglogin">
        <img id="loginbgimg" src="{{bgImage}}" >
        <div class="login-section-wrapper">
          
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Sign In</h1>
            <div style="background: #ec4040; color: white; text-align: center; line-height: 39px; font-weight: 600" *ngIf="msg">{{msg}}</div>
            <form [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="loggedIn()">
              
              <div class="form-group">
                <label for="name">Name</label>
                <div *ngIf="(loginForm.get('name').invalid && formDir.submitted) || (loginForm.get('name').dirty && loginForm.get('name').invalid)" style="color: #ec4040;font-weight:600">Name is required*</div>
                <input type="text" class="form-control" required autocomplete="off" formControlName="name"
                  placeholder="Name" required>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <div *ngIf="(loginForm.get('email').invalid && formDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)" style="color: #ec4040;font-weight:600">Email is required*</div>
                <input type="text" class="form-control" pattern="^\S*[@]\S*[.]\S*$" email required autocomplete="off" formControlName="email"
                  placeholder="Email">
              </div>
              <div class="form-group">
                <label for="business_vertical">Business Vertical</label>
                <div *ngIf="(loginForm.get('business_vertical').invalid && formDir.submitted) || (loginForm.get('business_vertical').dirty && loginForm.get('business_vertical').invalid)" style="color: #ec4040;font-weight:600">Business Vertical is required*</div>
                <input type="text" class="form-control" required autocomplete="off" formControlName="business_vertical"
                  placeholder="Business Vertical">
              </div>
              <div class="form-group">
                <label for="country">Country</label>
                <div *ngIf="(loginForm.get('country').invalid && formDir.submitted) || (loginForm.get('country').dirty && loginForm.get('country').invalid)" style="color: #ec4040;font-weight:600">Country No is required*</div>
                <input type="text" class="form-control" required autocomplete="off" formControlName="country" placeholder="Country">
              </div>
              <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Login">
            </form>
          </div>
        </div>
      </div>
    </div>
</section>
