<section [ngStyle]="{'display':videoPlay? 'none': 'block'}">
    <div id="content-wrap">
      <div id="bglogin">
        <img id="loginbgimg" [src]="main_data"  >
        <div class="login-section-wrapper">
          
          <!-- <div class="login-wrapper my-auto"> -->
            <img [ngStyle]="{'width':main_logo_width+'%','top':top_logo_position+'%', 'left':left_logo_position+'%'}" class="pb-2 pt-1" [src]="main_logo" alt="" width="100%">
            <div class="pos" [ngStyle]="{'width':form_width+'%','top':top_form_position+'%', 'left':left_form_position+'%'}">

            <h1 class="login-title" [ngStyle]="{'color': signin_color}" >Sign In</h1>
            <div style="background: #ec4040; color: white; text-align: center; line-height: 39px; font-weight: 600" *ngIf="msg">{{msg}}</div>
            <div *ngIf="sentotp">
            <form *ngIf="form2==1 " [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="loggedIn('otplogin')">
              <!-- <div class="form-group">
                <label for="name">Name</label>
                <div *ngIf="(loginForm.get('name').invalid && formDir.submitted) || (loginForm.get('name').dirty && loginForm.get('name').invalid)" style="color: #ec4040;font-weight:600">Name is required*</div>
                <input type="text" class="form-control" required autocomplete="off" formControlName="name"
                  placeholder="Name" required>
              </div> -->
              <!-- <div class="form-group">
                <label for="email">Email</label>
                <div *ngIf="(loginForm.get('email').invalid && formDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)" style="color: #ec4040;font-weight:600">Email is required*</div>
                <input type="text" class="form-control" pattern="^\S*[@]\S*[.]\S*$" email required autocomplete="off" formControlName="email"
                  placeholder="Email">
              </div>
              <div class="form-group">
                <label for="business_vertical">Business Vertical</label>
                <div *ngIf="(loginForm.get('business_vertical').invalid && formDir.submitted) || (loginForm.get('business_vertical').dirty && loginForm.get('business_vertical').invalid)" style="color: #ec4040;font-weight:600">Business Vertical is required*</div>
                <input type="text" class="form-control" required autocomplete="off" formControlName="business_vertical"
                  placeholder="Business Vertical">
              </div> -->
              <div class="form-group">
                <label for="mobile">Mobile</label>
                <!-- <div *ngIf="(loginForm.get('mobile').invalid && formDir.submitted) || (loginForm.get('mobile').dirty && loginForm.get('mobile').invalid)" style="color: #ec4040;font-weight:600">Mobile is required*</div> -->
                <div style="color: #ec4040;font-weight:600">{{getFormValidation('loginForm','mobile',formDir?.submitted)}}</div>
                <input type="number" class="form-control" required autocomplete="off" formControlName="mobile"
                  placeholder="Mobile">
              </div>
              <!-- <div class="form-group">
                <label for="country">Country</label>
                <div *ngIf="(loginForm.get('country').invalid && formDir.submitted) || (loginForm.get('country').dirty && loginForm.get('country').invalid)" style="color: #ec4040;font-weight:600">Country No is required*</div>
                <input type="text" class="form-control" required autocomplete="off" formControlName="country" placeholder="Country">
              </div> -->
              <input name="login" id="login" style="background-color: black;" [disabled]="loginForm?.invalid" class="btn btn-block login-btn" type="submit" value="Login">              
              <pre style="color:rgb(215, 53, 53)">
              </pre>
              
            </form>
          </div>
            <form *ngIf="form==1 || need_reg==1" [formGroup]="loginForm2" #formDir="ngForm" (ngSubmit)="loggedIn('emaillogin')">
               
              <div class="form-group">
                <label for="email" [ngStyle]="{'color': signin_color}" >Email</label>
                <!-- <div *ngIf="(loginForm2.get('email').invalid && formDir.submitted) || (loginForm2.get('email').dirty && loginForm2.get('email').invalid)" style="color: #ec4040;font-weight:600">Email is required*</div> -->
                <div style="color: #ec4040;font-weight:600">{{getFormValidation('loginForm2','email',formDir.submitted)}}</div>
                <input type="text" class="form-control" pattern="^\S*[@]\S*[.]\S*$" email required autocomplete="off" formControlName="email"
                  placeholder="Email">
              </div>
              <input [ngStyle]="{'background-color': button_color}" name="login" id="login" class="btn btn-block login-btn" type="submit" value="Login">
              <a style="font-weight: 900;" [ngStyle]="{'color': signin_color}" *ngIf="need_reg == 1" routerLink="/signup"> Click Here for Registration</a>
            </form>

            <form *ngIf="otpverify" [formGroup]="loginForm3" #formDir="ngForm" (ngSubmit)="otpLogin()">
               
              <div class="form-group">
                <label for="name">Name</label>
                <div *ngIf="(loginForm3.get('name').invalid && formDir.submitted) || (loginForm3.get('name').dirty && loginForm3.get('name').invalid)" style="color: #ec4040;font-weight:600">Name is required*</div>
                <input type="text" class="form-control" required autocomplete="off" formControlName="name"
                  placeholder="Name" required>
              </div>
              <div class="form-group">
                <label for="mobile">Mobile</label>
                <!-- <div *ngIf="(loginForm3.get('mobile').invalid && formDir.submitted) || (loginForm3.get('mobile').dirty && loginForm3.get('mobile').invalid)" style="color: #ec4040;font-weight:600">Mobile is required*</div> -->
                <div style="color: #ec4040;font-weight:600">{{getFormValidation('loginForm3','mobile',formDir.submitted)}}</div>
                <input type="text" class="form-control" required autocomplete="off" formControlName="mobile"
                  placeholder="Mobile">
              </div>
              <div class="form-group">
                <label for="otp">OTP Verify</label>
                <div *ngIf="(loginForm3.get('otp').invalid && formDir.submitted) || (loginForm3.get('otp').dirty && loginForm3.get('otp').invalid)" style="color: #ec4040;font-weight:600">OTP is required*</div>
                <input type="text" class="form-control" required autocomplete="off" formControlName="otp"
                  placeholder="OTP Verify">
              </div>
              <input [ngStyle]="{'background-color': button_color}" name="login" id="login" class="btn btn-block login-btn" type="submit" value="Login">
              <a style="font-weight: 900;" [ngStyle]="{'color': signin_color}" *ngIf="need_reg == 1" routerLink="/signup"> Click Here for Registration</a>
            </form>

          </div>
        </div>
      </div>
    </div>
</section>
