.chat_box{
    .chat_message{
      list-style-type: none;
      padding: 0;
      display: inline-block;
      height: 400px;
      width: 96%;
      overflow: auto;
      overflow-x: hidden;
      .chat_messageList{
        padding: 10px;
        .img_avatar{
          float: left;
          width: 46px;
          img{
            width: 28px;
          }
        }
        p{
          .person{
            display: block;
            color: #292f35;
            font-weight: bold;
            font-size: 14px;
            float: left;
            cursor: pointer;
            margin-right: 15px;
            text-transform: capitalize;
            line-height: 18px;
            .checkProfile{
              text-decoration: none;
              outline: none;
              color: #292f35;
            }
          }
          .time {
            float: right;
            color: dimgrey;
            line-height: 18px;
          }
        }
        .text_message{
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-left: 48px;
          clear: both;
          margin-bottom: 5px;
        }
      }
      .chat_messageList:nth-child(even){
        background: #e8e8e8;
      }
    }
  }
  .message_input {
    padding: 10px;
    textarea {
      border: none;
      height: 102px;
      box-sizing: border-box;
      outline-width: 0;
      padding: 10px;
      font-size: 14px;
      width: 78% !important;
      border-radius: inherit;
      border-radius: 2px;
      background: #e8e8e8;
      border: 0px;
      padding: 10px 5px 6px 15px;
      // line-height: 11px;
      /* margin-left: 15px; */
      resize: none;
      border: 1px solid #e8e8e8;
      outline: none;
    }
    #chatBtn{
      width: 20%;
      font-size: 12px;
      background: #ebebeb;
      padding: 2px;
      box-shadow: none;
      height: 40px;
      border-radius: inherit;
      background: #292f35;
      border: navajowhite;
      margin-top: 0;
      svg{
        color: #fff;
  
      }
    }
  }
  
  .online_chat{
    min-height: 400px;
    overflow: auto;
  
  }