<section class="sectionBgnew">
  <div class="content-wrap">
    <div class="content loby-content">
      <div class="loby-bg">
        <img src="../../../assets/serdia_myanmar/images/helpdesk.jpg" width="100%" alt="audi">
      </div>
      <div class="playScreen">
        <div *ngIf="!showPoster">
          <video id="video" preload="auto" autoplay src="../../../assets/video/brand.mp4" (ended)="endPlayscreen()"
            controls>
          </video>
        </div>
        <div *ngIf="showPoster">
          <img src="../../../assets/serdia_myanmar/images/playScreen.jpg" (click)="playScreenOnImg()" alt="">
        </div>
      </div>
      <div>
          <div class="askqa">
            <div class="pulse" data-toggle="modal" data-target=".liveQuestionModal">
        
            </div>
          </div>
          <div class="agenda">
            <div class="pulse" data-toggle="modal" data-target=".feebackModal">
        
            </div>
          </div>
          <div class="heighlights">
            <div class="pulse" data-toggle="modal" data-target=".agendaModal">
        
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="agenda">
    <div class="pulse" data-toggle="modal" (click)=openpopup()>

    </div>
  </div>
  <div class="heighlights">
    <div class="pulse" data-toggle="modal" data-target=".agendaModal">

    </div>
  </div>


<div class="modal fade NoFeedback" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="container-fluid" id="popup">
              <div class="row">
                  <div class="col-md-12 col-xl-12">
                      <div class="chat_section">
                          <div class="popup_header">
                            <h6>Virtual NSC Feedback Form</h6>
                            <a class="close" (click)="closePopup()"></a>
                          </div>
                          <div class="container-fluid" style=" background: #f2f4f7;">
                      <h4 class="text-center p-5">Your Feedback Successfully Submitted</h4>
                      </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</section>