<div [ngStyle]="{'display':landscape?'none':'block'}">
    <div id="potrait">
        <img src="../../../assets/img/rotate.gif" alt="">
        <p>Switch to Landscape view</p>
    </div>
</div>
<div [ngStyle]="{'display':landscape?'block':'none'}">
    <ng-container *ngFor="let menu of sidenavs">
        <div id="{{menu.name}}sidenav">
            <ul id="{{menu.name}}sidenavList">
                <li *ngFor="let menu of menu.menu">
                    <a [routerLink]="menu.path">
                        <img src="{{menu.icon}}" alt="">
                        <div>
                            {{menu.name | titlecase}}
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </ng-container>
    <!-- <main [@fadeAnimation]="getRouterOutletState(o)">
        <router-outlet #o="outlet"></router-outlet>
    </main> -->
    <main>
        <router-outlet></router-outlet>
        <app-t-two-slider></app-t-two-slider>
    </main>
</div>

<!-- required modals -->
<div class="modal fade t_two_agendaModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <app-t-two-agenda></app-t-two-agenda>
        </div>
    </div>
</div>