#potrait{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p{
        font-weight: 500;
        font-size: 14px;
        text-transform: capitalize;
    }
    img{
        width: 60%;
    }
}
main{
    width: calc(100% - 150px) !important;
    margin: 0 75px !important;
}
#lefsidenav{
    left: 0;
}
#rightsidenav{
    right: 0;
}
#leftsidenav,#rightsidenav {
    height: 100%;
    width: 75px;
    position: fixed;
    z-index: 9999999;
    top: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    #leftsidenavList,#rightsidenavList{
        list-style-type: none;
        padding: 2px;
        li{
            transition: .3s;  
            margin: 5px 2px 10px 2px;    
            padding-bottom: 5px;         
            a{
                cursor: pointer;   
                img{
                    transform: scale(.82);
                    transition: .3s; 
                }
                div{
                    font-size: 11px;
                    color: #818181;
                    user-select: none;
                }
            }
        }
    }
    #leftsidenavList, #rightsidenavList{
        li:hover{            
            transition: .3s;    

            a{
                img{
                    transform: scale(1.05);
                    transition: .3s;   
                }
            }
        }
    }
}

.acitveLink{
    border-right: 5px solid blue;
    border-radius: 3px;
}
@media only screen and (max-width:768px){
    main{
        width: calc(100% - 110px) !important;
        margin: 0 55px !important;
    }
    #leftsidenav{
        width: 55px !important;
        #leftsidenavList{
            li{
                div{
                    font-size: 9px !important;
                }
            }
        }
    }
    #rightsidenav{
        width: 55px !important;
        #rightsidenavList{
            li{
                div{
                    font-size: 9px !important;
                }
            }
        }
    }
}