<section class="sectionBgnew">
    <div class="content-wrap">
        <div class="content loby-content">
            <div [ngStyle]="{'display':showVideo ? 'none': 'block'}" class="img-fluid">
                <div class="loby-bg">
                    <!-- <img src="{{bgImage}}" width="100%" alt="audi"> -->
                    <img src="../../../assets/lutron/lobby.jpg" alt="">
                    <div class="lutronAudi" routerLink="/auditorium/one" (click)="stepUpAnalytics('click_auditorium')" title="Auditorium">
                        <div class="pulse">
                        </div>
                    </div>
                    <div *ngIf="bgmorning" class="gallery" title="Please visit here after the awards.">

                    </div>
                    <div *ngIf="!bgmorning" class="gallery" routerLink="/gallery" (click)="stepUpAnalytics('click_achievers_gallery')"
                        title="Gallery">
                        <div class="pulse">
                        </div>
                    </div>
                    <div class="agenda" title="Agenda" (click)="stepUpAnalytics('click_agenda')" data-toggle="modal"
                        data-target=".agendaModal">
                        <div class="pulse">
                        </div>
                    </div>
                    <!-- <div class="info" (click)="stepUpAnalytics('click_info')" title="Gallery" data-toggle="modal" data-target=".agendaModal">
                        <div class="pulse">
                        </div>
                    </div> -->
                </div>
                <div class="reception" title="Help Desk">
                    <div class="pulse" id="reception_pulse" data-toggle="modal" data-target=".liveQuestionModal"
                        (click)="stepUpAnalytics('click_helpdesk')">

                    </div>
                </div>
                <!-- <div title="Click to Play AV" class="popupPlayer" (click)="openModalVideo()" (click)="stepUpAnalytics('click_playAV')">
                    <div class="pulse" id="playAV"></div>
                </div> -->
                <div id="player_sec">
                    <div id="fullscreen">
                        <i class="fa fa-arrows-alt" title="Fullscreen" (click)="fullscreen()" aria-hidden="true"></i>
                    </div>
                    <vg-player>
                        <!-- <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
                            <vg-play-pause></vg-play-pause>
                            <vg-time-display></vg-time-display>
                            <vg-playback-button></vg-playback-button>
                            <vg-mute></vg-mute>
                            <vg-volume></vg-volume>
                            <vg-fullscreen></vg-fullscreen>
                        </vg-controls> -->
                        <!-- <vg-buffering></vg-buffering> -->
                        <video id="video" #myMedia [vgMedia]="myMedia" preload="auto" [vgHls]="videoPlayer" autoplay="true"
                            vg-responsive="true" type="video/mp4">

                        </video>
                    </vg-player>
                </div>
            </div>
        </div>
    </div>
</section>

<div [ngStyle]="{'display':receptionEnd ? 'block': 'none'}" class="videoContainer">
    <video id="recepVideo" class="videoBg" (ended)="receptionEndVideo()">
        <source src="../../../assets/serdia_myanmar/videos/HelpDesk.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':auditoriumLeft ? 'block': 'none'}" class="videoContainer">
    <video id="audLeftvideo" preload="auto" class="videoBg" (ended)="gotoAuditoriumLeftOnVideoEnd()">
        <source src="../../../assets/philips/animations/Signify.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':auditoriumRight ? 'block': 'none'}" class="videoContainer">
    <video id="audRightvideo" preload="auto" class="videoBg" (ended)="gotoAuditoriumRightOnVideoEnd()">
        <source src="../../../assets/serdia_myanmar/videos/RightAuditorium.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':exhibitionHall ? 'block': 'none'}" class="videoContainer">
    <video id="exhibitvideo" preload="auto" class="videoBg" (ended)="gotoExhibitionHallOnVideoEnd()">
        <source src="../../../assets/serdia_myanmar/videos/Exhibition.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':registrationDesk ? 'block': 'none'}" class="videoContainer">
    <video id="regDeskvideo" preload="auto" class="videoBg" (ended)="onEndKeyPortfolio()">
        <source src="../../../assets/serdia_myanmar/videos/KeyPortfolio.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':networkingLounge ? 'block': 'none'}" class="videoContainer">
    <video id="netLoungevideo" preload="auto" class="videoBg" (ended)="gotoNetworkingLoungeOnVideoEnd()">
        <source src="../../../assets/serdia_myanmar/videos/NetworkingLounge.mp4" type="video/mp4">
    </video>
</div>

<!-- <div id="light">
    <a class="boxclose" id="boxclose" (click)="lightbox_close();"></a>
    <video id="VisaChipCardVideo"[src]="videoUrl" autoplay width="600" controls>
       
      </video>
  </div>
  <div id="fade" (click)="lightbox_close();"></div> -->

<div class="modal fade yvideo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>

<!-- video Modal -->
<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{videoName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body p-0">
                <div id="modal-video">
                    <div id="closeModalVideo" (click)="closeModalVideo()">&times;</div>
                    <video id="video" preload="auto" src="https://lutron.multitvsolution.com/assets/lutron/video/lutronAV.mp4"
                        width="100%" controls>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade NoFeedback" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="chat_section">
                            <div class="popup_header">
                                <h6>Virtual NSC Feedback Form</h6>
                                <a class="close" (click)="closePopuptwo()"></a>
                            </div>
                            <div class="container-fluid" style=" background: #f2f4f7;">
                                <h4 class="text-center p-5">Your Feedback Successfully Submitted</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>