
<span *ngIf="skipper" id="skip">
    <a class="nav-link sign" (click)="skip()" title="skip" role="button">
        Skip</a>
</span>
<section>
    <div id="container_section_wrap">
        <div id="container_section_content">
            <div [ngStyle]="{'display':showVideo ? 'none': 'block'}" class="img-fluid">
                <div id="imgbg_section">
                    <!-- <img [src]=hell class="img-fluid" alt=""> -->
                    <video id="bgImg" [src]=hell autoplay loop width="100%"></video>

                    <div [ngStyle]="{'top':top_exhipoint+'%', 'left':left_exhipoint+'%'}" *ngIf="this.exhiEna == '1'" id="pointer_1" (click)="stepUpAnalytics('exhibition');videoPlay('click_exhibition')"
                        title="Exhibition">
                        <div class="pulse"></div>
                    </div>
                    <div [ngStyle]="{'top':top_loungepoint+'%', 'left':left_loungepoint+'%'}" *ngIf="this.loungeEna == '1'" id="pointer_2" (click)="stepUpAnalytics('lounge');videoPlay('click_lounge')"
                        title="Networking Lounge">
                        <div class="pulse"></div>
                    </div>
                    <div [ngStyle]="{'top':top_deskpoint+'%', 'left':left_deskpoint+'%'}" *ngIf="this.welcomeEna == '1'" id="pointer_3" (click)="stepUpAnalytics('helpdesk');videoPlay('click_helpdesk')" title="Welcome Desk">
                        <div class="pulse"></div>
                    </div>
                    <div [ngStyle]="{'top':top_audipoint+'%', 'left':left_audipoint+'%'}"  *ngIf="this.audiEna == '1'" id="pointer_4" (click)="stepUpAnalytics('auditorium');checkAudi()"
                        title="Auditorium">
                        <div class="pulse"></div>
                    </div>
                    <div [ngStyle]="{'top':top_boothpoint+'%', 'left':left_boothpoint+'%'}" *ngIf="this.photoEna == '1'" id="pointer_5" (click)="stepUpAnalytics('photobooth');videoPlay('click_photobooth')"
                        title="Photobooth">
                        <div class="pulse"></div>
                    </div>
                </div>
            </div>
            <div id="onloadPlayer" [ngStyle]="{'top':smallvideo_top+'%', 'left':smallvideo_left+'%', 'width':smallvideo_width+'%'}">
                <video [src]="back_video" id="centerPlay" width="100%" muted preload="auto" playsinline autoplay controls loop type="video/mp4">
                    <!-- Your browser does not support the video tag. -->
                </video> 
            </div>
        </div>
    </div>
</section>

<div [ngStyle]="{'display':receptionEnd ? 'block': 'none'}" class="videoContainer">
    <video [src]=audiVid type="video/mp4" style="z-index: 9999999;" playsinline id="auditorium_233" preload="auto"
        class="videoBg" (ended)="receptionEndVideo()">
        <!-- <source > -->
    </video>
</div>
<div [ngStyle]="{'display':mainAudi ? 'block': 'none'}" class="videoContainer">
    <video [src]=audiVid type="video/mp4" style="z-index: 9999999;" playsinline id="auditorium_main" preload="auto"
        class="videoBg" (ended)="mainaudiEndVideo()">
        <!-- <source > -->
    </video>
</div>
<div [ngStyle]="{'display':auditoriumLeft ? 'block': 'none'}" class="videoContainer">
    <video [src]=photoVid style="z-index: 9999999;" playsinline id="click_photobooth" preload="auto" class="videoBg"
        (ended)="gotoAuditoriumLeftOnVideoEnd()">
        <!-- <source src="https://d3ep09c8x21fmh.cloudfront.net/omni/b1.mp4" type="video/mp4"> -->
    </video>
</div>
<div [ngStyle]="{'display':auditoriumRight ? 'block': 'none'}" class="videoContainer">
    <video [src]=exhiVid type="video/mp4" style="z-index: 9999999;" playsinline id="click_exhibition" preload="auto"
        class="videoBg" (ended)="gotoAuditoriumRightOnVideoEnd()">
        <!-- <source src="https://d3ep09c8x21fmh.cloudfront.net/omni/b2.mp4" type="video/mp4"> -->
    </video>
</div>
<div [ngStyle]="{'display':networkingLounge ? 'block': 'none'}" class="videoContainer">
    <video [src]=loungeVid type="video/mp4" playsinline id="click_lounge" preload="auto"
        class="videoBg" (ended)="gotoNetworkingLoungeOnVideoEnd()">
        <!-- <source src="https://d3ep09c8x21fmh.cloudfront.net/omni/longe.mp4" type="video/mp4"> -->
    </video>
</div>
<div [ngStyle]="{'display':helpDesk ? 'block': 'none'}" class="videoContainer">
    <video [src]=deskVid type="video/mp4" playsinline id="click_helpdesk" preload="auto" class="videoBg"
        (ended)="gotoHelpdeskOnVideoEnd()">
        <!-- <source src="https://d3ep09c8x21fmh.cloudfront.net/omni/helpdesk.mp4" type="video/mp4"> -->
    </video>
</div>