// #pointer1{
//     position: absolute;
//     bottom: 27%;
//     width: 6%;
//     height: 6%;
//     left: 45.2%;
//     cursor: pointer;
//     .pulse{
//         position: absolute;
//         top: 50%;
//         left: 50%;
//     }
//     .hint{
//         width: 36px;
//         height: 36px;
//         position: absolute;
//         top: 50%;
//         left: 0;
//         right: 0;
//         margin: 0 auto;
//         transform: translateY(-50%);
//         .circle {
//             border: 2px solid red;
//             width: 12px;
//             height: 12px;
//             border-radius: 50%;
//             position: absolute;
//             top: 0;
//             left: 0;
//             box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
//             animation: pulse .7s infinite;
//         }
//     }
// }
#imgbg_section{
  width: calc(100% - 160px);
  margin-left: 70px;
  img{
    
  }
}
$color: red;
#pointer_1,#pointer_2,#pointer_3,#pointer_4,#pointer_5{
    position: absolute;
    width: 7%;
    height: 7%;
    cursor: pointer;
    .pulse{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
// #pointer_1{
//     top: 35%;
//     right: 28.5%;
// }
// #pointer_2{
//     top: 33%;
//     left: 12%;
// }
// #pointer_3{
//     top: 48%;
//     right: 45.5%;
// }
// #pointer_4{
//     top: 35%;
//     left: 31%;
// }
// #pointer_5{
//     top: 33%;
//     right: 9.4%;
// }

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba($color, 0.3),
                    0 0 0 .3em rgba($color, 0.3),
                    0 0 0 .7em rgba($color, 0.3),
                    0 0 0 1em rgba($color, 0.3);
      }
      100% {
        box-shadow: 0 0 0 .3em rgba($color, 0.3),
                    0 0 0 .7em rgba($color, 0.3),
                    0 0 0 1em rgba($color, 0.3),
                    0 0 0 1.5em rgba($color, 0);
      }
    // 0% {
    //     transform: scale(.8);
    //   }
    //   50% {
    //     transform: scale(2);
    //   }
    //   100% {
    //     transform: scale(.8);
    //   }
  }
  #onloadPlayer{
    position: absolute;
    // width: 16%;
    // top: 19.5%;
    // left: 43%;
    // box-s hadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
}

#skip{
  position: absolute;
  top: 10px;
  left: 75px;
  background: #1c6192;
  z-index: 100000;
  font-weight: 600;
  font-size: 14px;
  border-radius: 25px;
  padding: 2px 10px;
  cursor: pointer;
  box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
  a{
      text-transform: capitalize;
      color: white;
  }
}