<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/To_Exhibition.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="bg"></div> -->
<section>
    <div id="content">
        <div id="exhibition_content">
            <div id="fullBg">
                <img src="assets/serdia_cardio/exhibition_view.jpg" alt="">
            </div>
            <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
                <div class="alert alert-success " role="alert">
                    The session is Live now, please join us at the auditorium.
                </div>
              </div>
            <div>
                <div class="dareToInnovative" (click)="gotoCommitToSucceed('267')">
                    <div class="pulse"></div>
                </div>
                <div class="commitToSucceed" (click)="gotoCommitToSucceed('266')">
                    <div class="pulse"></div>
                </div>
                <!-- <div class="growBySharing" (click)="gotoGrowBySharing()">
                    <div class="pulse"></div>
                </div> -->
                <div class="care" (click)="gotoCommitToSucceed('268')">
                    <div class="pulse"></div>
                </div>
            </div>
        </div>
    </div>
</section>