.bg {
  background-image: url(../../../../assets/img/Exhibition/Exhibition3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: #2d2b21;
  animation: opac .5s;

  // position: relative;
}
section{
  position: relative;
  width: 100%;
  height: 100%;
  #content{
    position: relative;
    #exhibition_content{
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      max-width: 100%;
      margin: auto;
      #fullBg{
        position: relative;
        height: 100%;
        width: 100%;
        display: block;
        img{
          width: 100vw;
          height: 100vh;
        }
      }
    }
  }
}
@keyframes opac {
  from{
      opacity: 0;
  } to {
      opacity: 1;
  }
}

.dareToInnovative{
  position: absolute;
  top: 43%;
  left: 15%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulse{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.growBySharing{
  position: absolute;
  top: 43%;
  left: 36%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulse{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.commitToSucceed{
  position: absolute;
  top: 43%;
  right: 37%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulse{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.care{
  position: absolute;
  top: 43%;
  right: 15%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulse{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}