<section>
    <div id="content-wrap">
        <div id="bgimg">
            <img src="../../../assets/lutron/AchieversGallery-2.jpg" alt="">
            <div id="allProfilesData">
                <div id="profilesUp">
                    <ng-container *ngFor="let prof of galleryimgs.slice(0,13); let i = index">
                        <div id="profileUp_{{i+1}}" (click)="showProfile(prof)" title="Profile Data">
                            <div class="pulse"></div>
                        </div>
                    </ng-container>
                </div>
                <div id="profilesDown">
                    <ng-container *ngFor="let prof of galleryimgs.slice(13,25); let i = index">
                        <div id="profileDown_{{i+1}}" (click)="showProfile(prof)" title="Profile Data">
                            <div class="pulse"></div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal images -->
<div class="modal fade profiledata" tabindex="-1" role="dialog" aria-labelledby="profileTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="profile_section">
                            <div class="popup_header">
                                <h6>Gallery</h6>
                                <a class="close" (click)="closeProfile()"></a>
                            </div>
                            <div class="container-fluid" style="  background: #f2f4f7;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img src="{{profleImage}}" style="width: 100%;" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>