section{
    position: relative;
    #content-wrap{
        position: relative;
        width: 100%;
        height: 100%;
        #bgimg{
            position: relative;
            height: 100%;
            width: 100%;
            img{
                width: 100vw;
                height: 105vh;
            }
        }
    }
}
#allProfilesData{
    position: absolute;
    top: 29%;
    left: 0;
    height: 36vh;
    width: 100vw;
    #profilesUp{
        position: absolute;
        top: 0;
        left: 0;
        height: 18.5vh;
        width: 100vw;
    }
    #profilesDown{
        position: absolute;
        top: 55%;
        left: 0;
        height: 16.5vh;
        width: 100vw;
    }
}

#profileUp_1, #profileUp_2,#profileUp_3,#profileUp_4,#profileUp_5,#profileUp_6,#profileUp_7,#profileUp_8,#profileUp_9,#profileUp_10,#profileUp_11,#profileUp_12, #profileUp_13{
    position: absolute;
    top: 14%;
    cursor: pointer;
    // background: black;
    height: 15vh;
    .pulse{
        position: absolute;        
    }
}
#profileUp_1{
    left: 6%;
    width: 7vw;
    .pulse{
        top: 73%;
        left: 21%;
    }
}
#profileUp_2{
    left: 13%;
    width: 7vw;
    .pulse{
        top: 73%;
        left: 20%;
    }
}
#profileUp_3{
    left: 21%;
    width: 5vw;
    .pulse{
        top: 73%;
        left: 13%;
    }
}
#profileUp_4{
    left: 27.5%;
    width: 5vw;
    .pulse{
        top: 73%;
        left: 12%;
    }
}
#profileUp_5{
    left: 34%;
    width: 5.5vw;    
    .pulse{
        top: 73%;
        left: 15%;
    }
}
#profileUp_6{
    left: 39.7%;
    width: 5vw;
    .pulse{
        top: 73%;
        left: 10%;
    }
}
#profileUp_7{
    left: 46%;
    width: 5vw;  
    .pulse{
        top: 73%;
        left: 10%;
    }  
}
#profileUp_8{
    left: 52%;
    width: 5vw;
    .pulse{
        top: 75%;
        left: 9%;
    }    
}
#profileUp_9{
    left: 58%;
    width: 6vw; 
    .pulse{
        top: 73%;
        left: 12%;
    }   
}
#profileUp_10{
    left: 65%;
    width: 5vw;
    .pulse{
        top: 73%;
        left: 5%;
    }
}
#profileUp_11{
    left: 72%;
    width: 8.2vw;
    .pulse{
        top: 73%;
        left: 21%;
    }
}
#profileUp_12{
    left: 81.1%;
    width: 6vw;  
    .pulse{
        top: 73%;
        left: 15%;
    }  
}
#profileUp_13{
    left: 87.5%;
    width: 5vw;  
    .pulse{
        top: 73%;
        left: 10%;
    }  
}
#profileDown_1, #profileDown_2,#profileDown_3,#profileDown_4,#profileDown_5,#profileDown_6,#profileDown_7,#profileDown_8,#profileDown_9,#profileDown_10,#profileDown_11,#profileDown_12{
    position: absolute;
    top: 14%;
    cursor: pointer;
    // background: black;
    height: 15vh;
    .pulse{
        position: absolute;
    }
}
#profileDown_1{
    left: 6%;
    width: 7vw;
    .pulse{
        top: 73%;
        left: 23%;
    }
}
#profileDown_2{
    left: 14%;
    width: 6vw;
    .pulse{
        top: 73%;
        left: 23%;
    }    
}
#profileDown_3{
    left: 22%;
    width: 6vw;
    .pulse{
        top: 68%;
        left: 16%;
    }
}
#profileDown_4{
    left: 28%;
    width: 5vw;
    .pulse{
        top: 68%;
        left: 6%;
    }
}
#profileDown_5{
    left: 34.1%;
    width: 6vw;
    .pulse{
        top: 57%;
        left: 16%;
    }
}
#profileDown_6{
    left: 40%;
    width: 6vw;
    .pulse{
        top: 57%;
        left: 16%;
    }
}
#profileDown_7{
    left: 47%;
    width: 5vw;  
    .pulse{
        top: 57%;
        left: 16%;
    } 
}
#profileDown_8{
    left: 52.5%;
    width: 7vw; 
    .pulse{
        top: 57%;
        left: 16%;
    }   
}
#profileDown_9{
    left: 60.5%;
    width: 10vw;  
    .pulse{
        top: 57%;
        left: 28%;
    }  
}
#profileDown_10{
    left: 71.5%;
    width: 10vw;  
    .pulse{
        top: 61%;
        left: 30%;
    }  
}
#profileDown_11{
    left: 82.5%;
    width: 5vw;  
    .pulse{
        top: 73%;
        left: 23%;
    }  
}
#profileDown_12{
    left: 87.5%;
    width: 5vw;  
    .pulse{
        top: 73%;
        left: 16%;
    }  
}

#popup{
    background: #000000c9;
    padding: 5px;
    .profile_section{
      background: #292F35;
      .popup_header{
        height: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
        background: #064078;
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }