<div class="container-fluid login_bg" [ngStyle]="{'display':videoPlay? 'none': 'block'}">
    <div class="body-container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content text-center">
                            <img src="../../assets/lutron/side_logo.png" alt="">
                        </div>
                        <br>
                        <div class="time-btn text-center">
                            <div class="m_date">
                                <h3>17</h3>
                                <h3>12</h3>
                                <h3>2020</h3>
                            </div>
                        </div>
                        <div id="clockdiv">
                            <div>
                                <span class="days"></span>
                                <div class="smalltext">DAYS</div>
                            </div>
                            <div>
                                <span class="hours"></span>
                                <div class="smalltext">HOURS</div>
                            </div>
                            <div>
                                <span class="minutes"></span>
                                <div class="smalltext">MIN</div>
                            </div>
                            <div>
                                <span class="seconds"></span>
                                <div class="smalltext">SEC</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12">
                <div id="notAllowLogin" *ngIf="blockLogin">
                    <div>
                        <p>The event will be live tomorrow. Please return to the page then.</p>
                    </div>
                </div>
                <!-- <div><button (click)="clickhere()">click</button></div> -->
                <div class="heading">
                    <h3>LOGIN
                        <span id="notreg">Not Registered?
                            <span title="Signup">
                                <a href="https://webinar.multitvsolution.com/Lutronpartnerawards/index.html"
                                    target="_blank">
                                    SignUp
                                </a>
                            </span>
                        </span>
                    </h3>
                </div>
                <div style="background: #ec4040; color: white; text-align: center; line-height: 39px; font-weight: 600"
                    *ngIf="msg">{{msg}}</div>

                <form id="signup" [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="loggedIn()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group md-form email-f mb-0">
                                <label for="contact-email" class="">E-MAIL*</label>
                                <input type="email" name="email_id" formControlName="email" id="e-name"
                                    class="form-control" autocomplete="off" pattern="^\S*[@]\S*[.]\S*$" email required>
                                <div *ngIf="(loginForm.get('email').invalid && formDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)"
                                    style="color: crimson;font-weight:600">Email is required*</div>

                            </div>
                        </div>


                        <div class="col-md-12 mb-5">
                            <br>
                            <div class="text-white" id="loginerror"></div>
                            <button type="submit" class="register-btn">
                                <span id="register">SUBMIT</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div [ngStyle]="{'display':videoPlay? 'block': 'none'}" class="videoContainer">
    <video id="myVideo" preload="auto" class="videoBg" (ended)="endVideo()">
        <source src="../../assets/lutron/animation/outer.mp4" type="video/mp4">
    </video>
</div>