<div class="container-fluid login_bg">
    <div class="body-container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content text-center">
                            <img src="../../assets/lutron/side_logo.png" alt="">
                        </div>                   
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12">
                <div id="notAllowLogin" *ngIf="blockLogin">
                    <div>
                        <p>The event will be live tomorrow. Please return to the page then.</p>
                    </div>
                </div>
                <!-- <div><button (click)="clickhere()">click</button></div> -->
                <div class="heading">
                    <h3>LOGIN
                        <span id="notreg">Not Registered?
                            <span title="Signup">
                                <a routerLink="/theme1/signup">
                                    SignUp
                                </a>
                            </span>
                        </span>
                    </h3>
                </div>
                <div style="background: #ec4040; color: white; text-align: center; line-height: 39px; font-weight: 600"
                    *ngIf="msg">{{msg}}</div>

                <form id="signup" [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="loggedIn()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group md-form email-f mb-0">
                                <label for="contact-email" class="">E-MAIL*</label>
                                <input type="email" name="email_id" formControlName="email" id="e-name"
                                    class="form-control" autocomplete="off" pattern="^\S*[@]\S*[.]\S*$" email required>
                                <div *ngIf="(loginForm.get('email').invalid && formDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)"
                                    style="color: crimson;font-weight:600">Email is required*</div>

                            </div>
                        </div>


                        <div class="col-md-12 mb-5">
                            <br>
                            <div class="text-white" id="loginerror"></div>
                            <button type="submit" class="register-btn">
                                <span id="register">SUBMIT</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
