<!-- <div class="modal fade" id="t_one_feedback" tabindex="-1" role="dialog" aria-labelledby="t_one_feedbackLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="t_one_feedbackLabel">Feedback</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section id="section">
          <div id="content-wrap">
            <div id="background">
              <iframe src="https://forms.gle/Y8f5jUEDXPV9KZ5A8" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0"></iframe>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid" id="t_all_popup">
    <div class="row">
      <div class="col-md-12 col-xl-12">
        <div class="t_all_section">
          <div class="t_all_popup_header">
            <h6>Feedback</h6>
            <a class="t_all_close" (click)="closePopup()"></a>
          </div>
          <div class="container-fluid" style="background: #c5c5c5;">
            <div class="row pt-2">
              <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                <div class="row">
                </div>
                <iframe [src]="trustedUrl" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  