<section>
    <div id="container_section_wrap">
        <div id="container_section_content">
            <div id="imgbg_section">
                <img [src]="main_banner" class="img-fluid" alt="">                
                <ng-container *ngIf="!isExhbitionShow">
                    <ng-container *ngFor="let exb of main_exhibition?.stalls">
                        <div [ngStyle]="{'top':exb.pos_top+'%', 'left':exb.pos_left+'%'}" title="{{exb.title}}"
                                class="MultiExhibition" (click)="gotoStall(exb.id)">
                                <div class="pulse"></div>
                        </div>
                        <!-- <ng-container *ngFor="let stall of exhbition_hall">
                            <div [ngStyle]="{'top':stall.pos_top+'%', 'left':stall.pos_left+'%'}"
                                class="MultiExhibition" (click)="gotoCommitToSucceed(stall.id)">
                                <div class="pulse"></div>
                            </div>
                        </ng-container> -->
                    </ng-container>
                </ng-container>
                <!-- <ng-container *ngIf="isExhbitionShow">
                    <ng-container *ngFor="let stall of exhbition_hall">
                        <div [ngStyle]="{'top':stall.pos_top+'%', 'left':stall.pos_left+'%'}"
                            class="MultiExhibition" (click)="gotoCommitToSucceed(stall.id)">
                            <div class="pulse"></div>
                        </div>
                    </ng-container>
                    <div id="leftarr" (click)="gotoPreviousHall()">
                        <i class="fa fa-angle-double-left"></i>
                    </div>
                    <div id="rightarr" (click)="gotoNextHall()">
                        <i class="fa fa-angle-double-right"></i>
                    </div>
                </ng-container> -->
            </div>
        </div>
    </div>
</section>