.bg {
    background-image: url(../../../assets/img/mainbg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // background-color: #464646;

    width: 100%;
    height: 100vh;
    // position: relative;
}
.auditorium-left {
    .pulse{
        position: absolute;
        top: 37%;
        left: 23%;
        cursor: pointer;
    }
}
.auditorium-right {
    .pulse{
        position: absolute;
        top: 37%;
        right: 23%;
        cursor: pointer;
    }
}
.exhibition-hall {
    .pulse{
        position: absolute;
        top: 55%;
        left: 36%;
        cursor: pointer;
    }
}
.registraion-desk {
    .pulse{
        position: absolute;
        top: 55%;
        left: 55%;
        cursor: pointer;
    }
}
.networking-lounge {
    .pulse{
        position: absolute;
        top: 55%;
        right: 36%;
        cursor: pointer;
    }
}

