<div style="margin-left: 5%; margin-right: 5%;">
  <img style="width: 100%;height: 100px;" src="https://re-invest.in/wp-content/uploads/2018/02/inside-strip-1-1.png" alt="">
  <div id="heading">
    <div> My Appointments </div>
  </div>
  <div style="overflow-y: scroll; position: relative; height: 550px;">
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Scheduled Time</th>
        <th>Join Call</th>
      </tr>
      <tr *ngFor="let item of appointmentList">
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.time}}</td>
        <td> <a href="javascript:void(0);" (click)="getCurrentMeetingLink(item.call)" rel="noopener noreferrer">
            <i class="fa fa-video-camera" data-toggle="modal" data-target=".videoMeetingModal"
              style="color:black; font-size: 25px; text-align: center;"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="modal fade videoMeetingModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
              <div class="popup_header">
                <h6 class="video_meeting">Video Meeting</h6>
                <a class="close" (click)="closeVideoMeeting()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                        <iframe [src]="currentMeetingLink | safe" height="100%" class="frame" width="100%" target="_self"></iframe>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>