<div id="mainContainer">
    <h1 id="title" class="text">Spinner</h1>
    <p class="text" id="explanation">Click the spinner when the colors match!</p>
    <canvas id="spinnerCanvas" width="360" height="360"></canvas>
    <p id="score" class="scores text">Score: 0</p>
    <p id="highScore" class="text scores">High Score: 0</p>
</div>