
<div class="modal fade t_one_captureModal" id="camModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="container-fluid" id="t_all_popup">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <div class="t_all_section">
                        <div class="t_all_popup_header">
                            <h6>Take Selfie</h6>
                            <a class="t_all_close" (click)="closeCamera()"></a>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div>
                                        <div class="d-flex flex-column align-items-center">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div id="wholeCam" class="p-1"
                                                        [ngStyle]="{'display':showImage? 'none': 'block'}">
                                                        
                                                        <div id="camBg">
                                                                    <img [src]="hell" style="width: 100%" alt="">
                                                                </div>
                                                        <div [ngStyle]="{'margin':'8% 15%' }">
                                                            <video #video id="vid" class="vid videoData"
                                                                autoplay></video>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-1" *ngIf="!showImage">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <img src="assets/img/camera.png" width="50"
                                                            style="cursor: pointer;margin-top: 0px;" (click)="capture()" alt="">
                                                        <!-- <button class="btn btn-primary" (click)="capture()">Capture Image</button> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-1" [ngStyle]="{'display':showImage? 'block': 'none'}">
                                                <!-- <img id="scream" width="20" height="27" src="../../../assets/img/xtrem.jpeg" alt="The Scream"> -->
                                                <canvas #canvas id="canvas"></canvas>
                                                <div class="text-center p-2">

                                                    <a href="{{img}}" download="screenshot.png"><img
                                                            src="assets/img/download.png" width="50" alt=""
                                                            (click)="uploadVideo()"></a>
                                                    &nbsp; &nbsp; &nbsp;

                                                    <a style="cursor:pointer"><img
                                                            src="assets/img/retake.png" width="50" alt=""
                                                            (click)="reload()"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>