
<div class="modal fade" id="photoboothModal" tabindex="-1" role="dialog" aria-labelledby="photoboothModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div id="closePopup" (click)="closePhotobooth()">&times;</div>
    <!-- <div class="modal-header">
      <h4 class="modal-title text-white" id="photoboothModalLabel">Photobooth</h4>
      <button type="button" class="close" (click)="closePhotobooth()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
    <div class="modal-body">
      <section id="section">
        <div id="content-wrap">
          <div id="background">
            <div id="wholeCam" [ngStyle]="{'display':showImage? 'none': 'block'}">
              <img id="camImg" src="assets/ipa/photobooth/photo-jacket.png" width="100%" alt="">
              <video #videoStream id="videobgStream" class="vid videoData" autoplay></video>
              <div id="buttons">
                <img id="imgbtn" src="assets/ipa/photobooth/camera.png" width="9%" (click)="capturePhoto()" alt="">
              </div>
            </div>
            <div [ngStyle]="{'display':showImage? 'block': 'none'}">
              <canvas #canvas id="canvas" class="videobgStream" style="width: 100%;"></canvas>
              <div id="buttons">
                <a href="{{img}}" download="screenshot.png">
                  <img id="imgbtn" src="assets/ipa/photobooth/download.png" width="9%" (click)="downloadPic()" alt="">
                </a>
                <img id="imgbtn" src="assets/ipa/photobooth/re.png" width="9%" (click)="reload()" alt="">
                <span style="position: relative;">
                  <span class="share-btn-container" *ngIf="showShareBtns">
                      <a class="facebook-btn" (click)="openShareIt('facebook')">
                        <!-- <i class="fa fa-facebook"></i> -->
                        <img src="assets/ipa/photobooth/f.png" alt="">
                      </a>
                    
                      <a class="twitter-btn" (click)="openShareIt('twitter')">
                        <!-- <i class="fa fa-twitter"></i> -->
                        <img src="assets/ipa/photobooth/twitt.png" alt="">
                      </a>
                    
                      <a class="linkedin-btn" (click)="openShareIt('linkedin')">
                        <img src="assets/ipa/photobooth/link.png" alt="">
                        <!-- <i class="fa fa-linkedin"></i> -->
                      </a>
                    
                      <!-- <a class="whatsapp-btn">
                        <i class="fa fa-whatsapp"></i>
                      </a>
                    
                      <a class="pinterest-btn">
                        <i class="fa fa-pinterest"></i>
                      </a> -->
                    </span>
                    <img id="imgbtn" src="assets/ipa/photobooth/share.png" width="9%" (click)="shareit()" alt="">
                 </span> 
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
</div>