.vid, #canvas{
    width: 100%;
    border-top: 3px solid #ffc90e;
    border-right: 3px solid #ffc90e;
    border-left: 3px solid #ffc90e;
    // border-radius: 5px;
    // max-height:40vh;
}
#wholeCam{
  position: relative;
  
}
#camBg{
    position: absolute;
    top: 0;
    width: 100%;
    img{
      width: 100%;
    }
  }