.bg {
  //  background-image: url(../../../../../assets/img/Stage/audi1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;
  
    // position: relative;
  }
  section{
    position: relative;
    height: 100%;
    width: 100%;
    #clap{
      position: absolute;
      top: 19%; 
      right: 1%;
      z-index: 1000;
    }
    #content{
      position: relative;
      #content_wrap{
        position: relative;
        #bg{
          position: relative;
          width: 100%;
          height: 100%;
          display: block;
          img{
            width: 100vw;
            height: 115vh;
          }
        }
        #player_sec{
          position: absolute;  
          top: 21.5%;  
          left: 29.9%; 
          vg-player{
            width: 40.3vw;
            height: 46.2vh;
          }
        }
      }
    }
  }
  @keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
  }
  
  @media (max-width: 767px){
  .bg{
    background-position: top center;
      background-size: contain;
  }
  }
  
  a{
  
  cursor: pointer;
  }
  .reception {
    position: absolute;
    bottom: 36%;
    left: 48.5%;
    cursor: pointer;
    height: 6vw;
    width: 4vw;       
.pulse{
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
}
}