<div class="container-fluid" id="t_all_popup">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="t_all_section">
        <div class="t_all_popup_header">
          <h6>Agenda</h6>
          <a class="t_all_close" (click)="closePopup()"></a>
        </div>
        <div class="container-fluid" style="background: #c5c5c5;">
          <div class="row pt-2">
            <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
              <div class="row">
              </div>
              <!-- <ngx-extended-pdf-viewer [(src)]="main_banner2" useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer> -->
              <!-- <img [src]="main_banner" frameborder="0"
                width="100%" height="auto"> -->
              <pdf-viewer [src]="main_banner2" [render-text]="true" [fit-to-page]="true" [original-size]="false"
                style="display: block;"></pdf-viewer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>