section{
    position: relative;
    #content{
        position: relative;
        width: 100%;
        height: 100%;
        #content_network{
            position: relative;
            width: 100%;
            height: 100%;
            #bg{
                position: relative;
                width: 100%;
                height: 100%;
                img{
                    width: 100vw;
                    height: 100vh;
                }
            }
        }

    }

}
#back{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #141433;
    color: white;
    z-index: 100;
    font-weight: 600;
    font-size: 14px;
    // padding: 2px;
    border: 1px solid #060a39;
    border-radius: 25px;
    cursor: pointer;
    padding: 7px 12px;
    margin-left: 0px;
    a{
        text-transform: capitalize;
        color: white;
    }
  }
  #shooting{
      position: absolute;
        top: 49%;
        left: 32.7%;
        height: 8vh;
        width: 6vw;
        cursor: pointer;
      .pulse{
          position: absolute;
          top: 50%;
          left: 50%;
      }
  }
  #spinner{
      position: absolute;
      top: 49%;
        left: 46.7%;
        height: 8vh;
        width: 6vw;
        cursor: pointer;
      .pulse{
          position: absolute;
          top: 50%;
          left: 50%;
      }
  }
  #puzzle{
      position: absolute;
      top: 49%;
      left: 60.7%;
      height: 8vh;
        width: 6vw;
        cursor: pointer;
      .pulse{
          position: absolute;
          top: 50%;
          left: 50%;
      }
  }
  #showgames{
    height: 100%;
    width: 100%;
    overflow: auto;
}