<section>
    <div id="content">
        <div id="content_network">
            <div id="bg" *ngIf="router.url==='/games'">
                <img src="../../../../assets/philips/gameZone.jpg" alt="">
                <div id="shooting" routerLink="/games/shooting" title="Shooting">
                    <div class="pulse"></div>
                </div>
                <div id="spinner" routerLink="/games/spinner" title="Spinner">
                    <div class="pulse"></div>
                </div>
                <div id="puzzle" routerLink="/games/puzzle" title="Puzzle">
                    <div class="pulse"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<span *ngIf="router.url==='/games'" id="back">
    <a  class="nav-link sign" routerLink="/lobby" title="Kidscorner" role="button">
        BACK</a>
        
</span>
<span *ngIf="router.url!=='/games'" id="back">
    <a  class="nav-link sign" routerLink="/games" title="Kidscorner" role="button">
        BACK</a>
        
</span>

<div *ngIf="router.url !=='/games/'" id="showgames">
    <router-outlet></router-outlet>
</div>