<div class="videoContainer">
    <video id="myVideo" preload="auto" class="tTwovideoBg" (ended)="endOuterVideo()">
        <source src="https://lutron.multitvsolution.com/assets/lutron/animation/outer.mp4" controls type="video/mp4">
    </video>
</div>