<div class="modal fade quizModal" id="t_one_quiz" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="quiz_section">
              <div class="popup_header">
                <h6>{{quizStatus}}</h6>
                <a class="close" (click)="closePopup()"></a>
              </div>
              <div class="container-fluid" style="background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-xl-12">
                        <div class="text-center" *ngIf="!summaryBoolean">
                          <ng-container *ngIf="quizlist.length <= 0">
                            <div [ngStyle]="styleChanger()"><p>No Quiz is available now</p></div>
                          </ng-container>
                          <ng-container *ngIf="quizlist.length > 0">
                            <div class="quiz" *ngFor="let quiz of quizlist; let i=index;">
                              <div *ngIf="i === index">
                                <div id="quizQuestion">
                                  <span style="font-size:16px;">{{i+1}}.</span> {{quiz.question}}
                                </div>
                                <ul id="list">
                                  <li *ngFor="let option of quiz.options; let j = index"
                                    (click)="nextQuestion(i, j, quiz, option)">
                                    <div class="listOption"
                                      [ngStyle]="{'background':(option === quiz.correct_answer)? color : (j === optionIndex)? 'red': noColor }">
                                      {{option}}</div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </ng-container>
                        </div>
                        <div class="text-center" *ngIf="summaryBoolean" style="height: 450px; overflow: auto">
                          <div class="quiz pl-2 pr-2" *ngFor="let summary of summaryList; let x=index;">
                            <div>
                              <div id="quizQuestion">
                                <span style="font-size:16px;">{{x+1}}.</span> {{summary.question}}
                              </div>
                              <ul id="list">
                                <li *ngFor="let option of summary.options; let y = index">                                  
                                    <div class="listOption" [ngStyle]="{'background':((option === summary.correct_answer)||((summary.correct_answer === summary.your_answer) &&(option === summary.correct_answer)))?'green':(option === summary.your_answer)?'red':noColor}">
                                      {{option}}
                                    </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>