
.message_input {
    padding: 10px;
    textarea {
      border: none;
      height: 102px;
      box-sizing: border-box;
      outline-width: 0;
      padding: 10px;
      font-size: 18px;
      width: 100% !important;
      border-radius: inherit;
      border-radius: 2px;
      background: #e8e8e8;
      border: 0px;
      padding: 10px 5px 6px 15px;
      resize: none;
      border: 1px solid #e8e8e8;
      outline: none;
    }
    #chatBtn{
      width: 20%;
      font-size: 12px;
      background: #ebebeb;
      padding: 2px;
      box-shadow: none;
      height: 40px;
      border-radius: inherit;
      // background: #292f35;
      background: crimson;
      border: navajowhite;
      margin-top: 0;
      svg{
        color: #fff;
  
      }
    }
  }