section{
    position: relative;
    width: 100%;
    height: 100%;
    #content{
      position: relative;
      #exhibition_content{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        max-width: 100%;
        margin: auto;
        #fullBg{
          position: relative;
          height: 100%;
          width: 100%;
          display: block;
          img{
            width: 100vw;
            height: 100vh;
          }
        }
      }
    }
}
#leftarr, #rightarr{
  position: absolute;
  top: 50%;
  text-align: center;
  transition: .3s;
  cursor: pointer;
  display: none;
  .fa{
    background-color: black;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    padding: 12px 16px;
  }
}
.hallPulse{
  position: absolute;  
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulse{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
#leftarr{
  left: 94px;
}
#rightarr{
  right: 90px;
}
#leftarr:hover, #rightarr:hover{
  transition: .3s;
  transform: scale(1.2);
}