<section>
    <div id="container_section_wrap">
        <div id="container_section_content">
            <div id="imgbg_section">
                <img [src]="hall_banner" class="img-fluid" alt="">          
                <ng-container *ngFor="let hall of currentHall">
                    <div [ngStyle]="{'top':hall.pos_top+'%', 'left':hall.pos_left+'%'}"
                        class="hallPulse" title="{{hall.title}}" (click)="gotoExhibition(hall.id)">
                        <div class="pulse"></div>
                    </div>
                </ng-container>
                <div id="leftarr" (click)="gotoPreviousHall()" title="Previous Hall">
                    <i class="fa fa-angle-double-left"></i>
                </div>
                <div id="rightarr" (click)="gotoNextHall()" title="Next Hall">
                    <i class="fa fa-angle-double-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>