<section>
    <div id="container_section_wrap">
        <div id="container_section_content">
            <img style="width: 100%;height: 100px;"
                            src="https://re-invest.in/wp-content/uploads/2018/02/inside-strip-1-1.png" alt="">
                        <div id="heading">
                            <div> Sessions </div>
                        </div>
            
                <div class="desktop_hexagon">
                    
                    <div class="row" style="padding-left: 122px;padding-top: 27px;overflow-y: scroll;padding-bottom: 28px;">
                    
                        <ng-container *ngFor="let session of sessionList;index as i">
                            <div class="col-md-3" style="margin-right: -33px;margin-bottom: 31px;" [ngStyle]="{'margin-right': i%2 != 0  ? '-15px' : '-33px' }">
                                <app-t-one-session-card [color]="getColor(i)" [cardDetail]="session"></app-t-one-session-card>
                            </div>
                        </ng-container>         
                    </div>
               </div>

               <div class="mobile_table">
                <table>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Booth Size</th>
                      <th>Maximum Participants</th>
                      <th>Action</th>
                    </tr>
                    <ng-container *ngFor="let session of sessionList;index as i">
                        <tr>
                            <td>{{session?.title}}</td>
                            <td>{{session?.description}}</td>
                            <td>{{session?.booth_size}}</td>
                            <td>{{session?.max_participants}}</td>
                            <td><div (click)="openSession(session.channel_name)" class="network">
                                <i style="cursor: pointer;" class="fa fa-video-camera" aria-hidden="true"></i></div>
                                <div class="tooltiptext-1">JOIN NOW</div></td>
                        </tr>
                    </ng-container>
                </table>
               </div>
                
            </div>
        </div>
</section>
