:root{
    --lbg: none;
    --vbg: none;
}
.login_bg{
    background: black;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    // background-image: url(../../../assets/sampleimages/loginbg.jpg);
    background-image: var(--lbg);
    overflow: auto;
}
@media (max-width: 768px) {
    .login_bg{
        background: var(--vbg) !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: 100% !important;
    }
}
    