<!-- <ng-template #messageContainer></ng-template> -->
<div> 
  <div class="container-fluid login_bg">
    <div class="row justify-content-md-{{pageInfo.pos}}">
      <div class="card m-3 mt-5 col-md-3" >
        <h5 class="card-header text-center">Login</h5>
        
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="list-group list-group-flush">
            <div class="list-group-item">
              <div class="form-row">
                <div *ngFor="let form of dynamicFormArray" class="form-group col-md-12 col-sm-12">
                  <div [ngSwitch]="form.type">
                    <div *ngSwitchCase="'text'">
                      <label>{{form.label | titlecase}}*</label>
                      <input [attr.placeholder]="form.label" [attr.type]="form.type" [formControlName]="form.label" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && loginForm.get(form.label).errors }" />
                      <div *ngIf="submitted && loginForm.get(form.label).errors" class="invalid-feedback">
                        <div *ngIf="loginForm.get(form.label).errors.required">{{form.label | titlecase}} is required*</div>
                      </div>
                    </div>
                    <div *ngSwitchCase="'email'">
                      <label>{{form.label | titlecase}}*</label>
                      <input [attr.placeholder]="form.label" [attr.type]="form.type" [formControlName]="form.label" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && loginForm.get(form.label).errors }" />
                      <div *ngIf="submitted && loginForm.get(form.label).errors" class="invalid-feedback">
                        <div *ngIf="loginForm.get(form.label).errors.required">{{form.label | titlecase}} is required*</div>
                      </div>
                    </div>
                    <div *ngSwitchCase="'number'">
                      <label>{{form.label | titlecase}}*</label>
                      <input [attr.placeholder]="form.label" min="1" max="99" minlength="1" maxlength="2" [attr.type]="form.type" [formControlName]="form.label" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && loginForm.get(form.label).errors }" />
                      <div *ngIf="submitted && loginForm.get(form.label).errors" class="invalid-feedback">
                        <div *ngIf="loginForm.get(form.label).errors.required">{{form.label | titlecase}} is required*</div>
                      </div>
                    </div>
                    <div *ngSwitchCase="'select'">
                      <label>{{form.label | titlecase}}</label>
                      <select [formControlName]="form.label" class="form-control">
                          <option class="form-control" *ngFor="let opt of form.options" [value]="opt">
                            {{opt}}
                          </option>
                        </select>
                    </div>
                    <div *ngSwitchCase="'radio'">
                      <label>{{form.label | titlecase}}</label> &nbsp; &nbsp;
                      <div class="form-check form-check-inline" *ngFor="let gender of form.options">
                        <label class="form-check-label" style="cursor: pointer;">
                          <input [formControlName]="form.label" class="form-check-input" type="radio" name="gender" [value]="gender.name">
                          {{gender.name}}
                        </label>
                      </div>
                    </div>
                    <div *ngSwitchCase="'checkbox'">
                      <label>{{form.label | titlecase}}*</label>
                      <div *ngFor="let hobbies of form.options; let i = index">
                        <label [formArrayName]="form.label">
                          <input type="checkbox" [formControlName]="i">
                          {{hobbies.name}}
                        </label>
                      </div>
                      <div style="color: #dc3545; font-size: 81%; font-weight: 500;" *ngIf="loginForm.controls[form.label].errors">
                        At least one checkbox is required to check
                      </div>
                      <!-- <label>{{form.label | titlecase}}</label>
                      <div [formArrayName]="form.label" class="form-check" *ngFor="let hobbies of form.options; let i=index">
                        <input [formControlName]="i" [attr.type]="form.type" class="form-check-input">
                        <label class="form-check-label">{{hobbies.name}}</label>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer border-top-0">
            <button class="btn btn-primary mr-1">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>