// @font-face {
//   font-family: "LG_Smart_Regular";
//   src: url(../fonts/LG_Smart_Regular.ttf);
// }
// @font-face {
//   font-family: "LG_Smart_SemiBold";
//   src: url(../fonts/LG_Smart_SemiBold.ttf);
// }
body {
  background: #000000;
  // font-family: LG_Smart_SemiBold !important;
}

.md-form{
  position: relative;
  margin-top: 1.5rem;
}
.md-form label {
  position: absolute;
  top: -10px;
  left: 0;
  font-size: 14px;
  color: #fbf8f8;
  cursor: text; 
  text-transform: uppercase;
  margin-bottom: 15px;
  }
.form-control{
  color:#fff !important;
}
option { 
  /* Whatever color  you want */
  background-color: #000;
}

.md-form .form-control{
  color:#fff;
  background: transparent;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: .6rem 0 .4rem 0;
  margin: 0 0 .5rem 0;
  height: 50px;
  transform: translateY(7px);
}      
  .heading h3 {
    color: #fff;
  text-decoration: underline;
  }
 .register-btn {
  background: #ffffff;
  padding: 5px 50px;
  color: #000;
   border: none;
   border-radius: 4px;
   margin-top: 11px;
   outline: none;
 }

 .custom-select {
   background: no-repeat;

 }

 #sel1 {
   background: no-repeat;
   border: none;
   border-bottom: 1px solid #fff;
   outline: none;
   text-decoration: none;
 }

 .time-btn a button {
  background: #ffffff;
  border: 3px solid #a4a4a4;
  font-size: 1.5em;
  padding: 10px 20px;
  border-radius: 5px;
  width: 32%;
  font-weight: 900;
  box-shadow: inset 6px -1px 11px;

 }

 .custom-checkbox {
   color: #fff;
   margin-left: 15px;
 }

.custom-checkbox label {
  font-size: 11px;
}
 body{
 
font-family: sans-serif;
overflow-x: hidden;
}

#clockdiv{
  margin-top: 20px;
  font-family: sans-serif;
  color:#fff;    
  font-weight: 100;
  text-align: center;
  font-size: 25px;
  text-align: center;
  padding-left: 10px;
}
#clockdiv > div{
  display: inline-block;
}

#clockdiv > div span{
  background: white;
  color: black;
  padding: 5px 5px;
  box-shadow: inset 5px 4px 5px;
  border-radius: 4px;
  text-align: center;
  font-weight: 800;
  height: 55px;
  width: 55px;
  border: 3px solid #a4a4a4;
}

#clockdiv div > span{
  padding: 6px;
  border-radius: 3px;
  display: inline-block;
}

.smalltext{
  font-size: 15px;
}

.login {
margin-top:35vh;
}

.thnx {
margin-top: 35vh;
}
.thnx h3{
 font-size: 28px;
}
.login label {
color: #fff;
font-size: 20px;
font-weight: bold;
}

.login input {
background: #fff;
width: 80%;
border: none;
border-radius: 5px;
outline: none;
}

.join {
background: grey;
color: #fff;
padding: 5px 25px;
border: none;
font-weight: bold;
border-radius: 4px;
}
.m_date{
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 2em;
}
.m_date h3{
  background: rgb(0,33,59);
  background: linear-gradient(180deg, rgba(0,33,59,1) 50%, rgba(33,93,133,1) 50%);
  border: 2px solid #95ddf7;
  border-radius: 5px;
  padding: 5px;
  margin-left: 15px;
  font-size: 2.5em;
}
@media (max-width: 768px) {
  .login_bg{
      background: url(../../assets/lutron/mob_bg.png) !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      height: 100% !important;
  }
  .m_date{
      padding-top: 0;
  }
.m_date h3{
  font-size: 1.5em;
}
#clockdiv{
  font-size: 20px;
}
#clockdiv > div span{
  height: 45px;
  width: 45px;
}
.content {
  padding-top: 5% !important;
}
.heading {
  padding-top: 5% !important;
}
.heading h3{
  font-size: 1rem;
}
.content img {
  width: 60% !important;
}
.thanks img{
  width: 85% !important;
}
.thanks {
  padding-top: 75% !important;
}
}
.loginerror{
  color: #fff !important;
}
.login_bg{
  background: url(../../assets/lutron/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.thank_bg{
  background: url(../../assets/lutron/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.content{
  padding-top: 15%;
}
.content img{
  width: 70%;
}
.heading{
  padding-top: 15%;
}
.thanks{
  text-align: center;
  padding-top: 20%;
}
.thanks img{
  width: 60%;
}