<div class="container-fluid login_bg">
    <div class="body-container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content text-center">
                            <img src="../../assets/lutron/side_logo.png" alt="">
                        </div>
                        <br>
                        <div class="time-btn text-center">
                            <div class="m_date">
                                <h3>17</h3>
                                <h3>12</h3>
                                <h3>2020</h3>
                            </div>
                        </div>
                        <div id="clockdiv">
                            <div>
                                <span class="days"></span>
                                <div class="smalltext">DAYS</div>
                            </div>
                            <div>
                                <span class="hours"></span>
                                <div class="smalltext">HOURS</div>
                            </div>
                            <div>
                                <span class="minutes"></span>
                                <div class="smalltext">MIN</div>
                            </div>
                            <div>
                                <span class="seconds"></span>
                                <div class="smalltext">SEC</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12">
                <div class="heading">
                    <h3>REGISTER NOW</h3>
                </div>
                <form id="signup">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group md-form mb-0">
                                <label for="contact-name" class="">NAME</label>
                                <input type="text" name="fname" id="fname" class="form-control" placeholder=""
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group md-form email-f mb-0">
                                <label for="contact-email" class="">COMPANY NAME</label>
                                <input type="text" name="org" id="c-name" class="form-control" placeholder=""
                                    autocomplete="off">

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group md-form email-f mb-0">
                                <label for="contact-email" class="">MOBILE NO.</label>
                                <input type="text" name="phone" id="m-name" class="form-control" autocomplete="off"
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                    maxlength="10" placeholder="">

                            </div>
                        </div>


                        <div class="col-6">
                            <div class="form-group md-form email-f mb-0">
                                <label for="contact-email" class="">E-MAIL</label>
                                <input type="text" name="email_id" id="e-name" class="form-control" placeholder=""
                                    autocomplete="off">

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group md-form email-f mb-0">
                                <label for="contact-email" class="">CITY</label>
                                <input type="text" name="city" id="city-name" class="form-control" placeholder=""
                                    autocomplete="off">

                            </div>
                        </div>
                        <div class="col-md-12">
                            <br>
                            <div class="text-white" id="loginerror"></div>
                            <button type="button" class="register-btn">
                                <span id="register">SUBMIT</span>
                                </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid login_bg"><br>
    <div class="body-container">
      <div class="row ">

        <div class="col-xl-6 col-lg-6 col-md-12">
          <div class="row ">
            <div class="col-md-12">
              <div class="content text-center">
                <img src="../../assets/lutron/side_logo.png" width="38%">
              </div>
              <br>
              <div class="time-btn text-center">
                <div class="m_date">
                  <h3>17</h3>
                  <h3>12</h3>
                  <h3>2020</h3>
                </div>
              </div>

              <div id="clockdiv">
                <div>
                  <span class="days"></span>
                  <div class="smalltext">DAYS</div>
                </div>
                <div>
                  <span class="hours"></span>
                  <div class="smalltext">HOURS</div>
                </div>
                <div>
                  <span class="minutes"></span>
                  <div class="smalltext">MIN</div>
                </div>
                <div>
                  <span class="seconds"></span>
                  <div class="smalltext">SEC</div>
                </div>
              </div>



            </div>
          </div>
        </div>



        <div class="col-xl-5 col-lg-5 col-md-12">
          <div class="heading">


              <h3>REGISTER NOW</h3>
          </div>            <form id="signup">

          <div class="row ">



            <div class="col-md-12">

              <div class="form-group md-form mb-0">
                <label for="contact-name" class="">NAME</label>
                <input type="text" name="fname" id="fname" class="form-control" placeholder="">

              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group md-form email-f mb-0">
                <label for="contact-email" class="">COMPANY NAME</label>
                <input type="text" name="org" id="c-name" class="form-control" placeholder="">

              </div>
            </div>

            <div class="col-6">
              <div class="form-group md-form email-f mb-0">
                <label for="contact-email" class="">MOBILE NO.</label>
                <input type="number" name="phone" id="m-name" class="form-control" placeholder="">

              </div>
            </div>


            <div class="col-6">
              <div class="form-group md-form email-f mb-0">
                <label for="contact-email" class="">E-MAIL</label>
                <input type="text" name="email_id" id="e-name" class="form-control" placeholder="">

              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group md-form email-f mb-0">
                <label for="contact-email" class="">CITY</label>
                <input type="text" name="city" id="city-name" class="form-control" placeholder="">

              </div>
            </div>
           
            <div class="col-md-12">
              <br>
              <div class="text-white" id="loginerror"></div>
              <button type="button" class="register-btn"><span id="register"></span>
                SUBMIT</button> </a>
            </div>

          </div>        </form>

        </div>

      </div>

    </div>
  </div> -->