@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.logo{
    // width: 15%;
    position: absolute;
    bottom: 0%;
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 60px;
    margin: auto;
    z-index: 99999;
    overflow:hidden;
    img{
        z-index: 9999999;
    height: 60px;
    padding: 0 10px 0 10px;
    margin-left: 70px;
    // padding-bottom: 30px;
    }
}
.slider {
    width: 100%;
    position: fixed;
    bottom: 0%;
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 60px;
	margin: auto;
    overflow:hidden;	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
        width: calc(250px * 1);
        text-align: center;
	}
	
	.slide {
		height: 100px;
        width: 280px;
        img{
            height: 60px;
            // width: 200px;
        }
	}
}
