<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="assets/sampleimages/slider.jpg" [ngStyle]="{'width':'2600px'}"
                alt="" />
        </div>
    </div>
</div>