<div class="modal fade" id="attendees_modal" role="dialog">
  <div class="modal-dialog modal-lg"
    style="box-shadow: 0px 4px 35px 10px rgba(0, 0, 0, 0.0778296); border-radius: 16px;">
    <div class="modal-content">
      <div class="modal-head" style="position: relative;">
      </div>

      <div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 col-xl-12" style="background: #E91E63; color:#fff">
              <div class="text-center p-3">
                <h5>ATTENDEES</h5>
                <a class="close" (click)="toggleModal_(false)"></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label style="padding-top: 5px;">Search</label>
              <input class="form-control" [(ngModel)]="names" (keyup)="filterData(names)" style="margin-bottom: 12px;"
                type="text" placeholder="Filter Result">
            </div>
            <div class="col-md-12 col xl-12">
              <div class="users_data">
                <div class="user-profile-row" *ngFor="let user of attendees" id="user_row_500">
                  <div class="user-profile-data">
                    <div class="user-profile-image"> <img class="img-responsive user-profile-img"
                        src="assets/Attendees.png" width="32">
                    </div>
                    <div class="user-profile-info">
                      <p class="user-profile-name"><a href="javascript:void(0);">{{user.name}}</a></p>
                      <span class="float-right">
                        <p style="padding-left: 490px;" class="user-profile-join" title="Schedule a call"
                          data-toggle="modal" data-target=".scheduleCallmodal"><a href="javascript:void(0);"
                            (click)="getUserid(user.id)"><i class="fa fa-calendar" style="font-size: 20px;"></i></a></p>
                      </span>
                      <p class="user-profile-company"><span *ngIf="user.company===''">Others</span><span style="    position: relative;
                                      top: -15px;" *ngIf="user.company!==''">{{user.company}}</span></p>
                      <p class="user-profile-company"><span *ngIf="user.designation===''">Others</span><span style="    position: relative;
                                      top: -15px;" *ngIf="user.designation!==''">{{user.designation}}</span></p>

                    </div>
                    <div class="user-profile-info"></div>
                  </div>
                </div>
                <div  *ngIf="attendees?.length" class="btn" style="padding: 10px; margin: 10px; background-color: #d7a322; color:white"
                  (click)="loadmore()">Load More</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade scheduleCallmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6 style="text-transform: uppercase;">SCHEDULE A CALL</h6>
                <a class="close" (click)="closeCall()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">

                <h4 style="padding-top: 12px;">Select a Date & Time</h4>

                <div class="row pt-2">

                  <div class="col-md-6">
                    <div class="calendar-part">
                      <ngb-datepicker [minDate]="{year: 2021, month: 01, day: 27}"
                        [maxDate]="{year: 2021, month: 01, day: 30}" #dp [(ngModel)]="model"
                        (navigate)="date = $event.next" (dateSelect)="onDateSelect($event)"></ngb-datepicker>
                    </div>
                  </div>
                  <div class="col-md-6" style="overflow-y: scroll;">
                    <div class="time-part">

                      <ul class="time-list mCustomScrollbar _mCS_4" id="list">
                        <div id="mCSB_4" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"
                          style="max-height: none;">
                          <div id="mCSB_4_container" class="mCSB_container" style="position:relative; top:0; left:0;"
                            dir="ltr">

                            <li *ngFor="let times of newTimeSlots">
                              <a *ngIf="times.flag =='enabled'" (click)="getTime($event,'active',times.time)"
                                href="javascript:void(0);" class="time_a" data-val=times.time>{{times.time}}</a>
                              <a *ngIf="times.flag =='disabled'" disabled="disabled" href="javascript:void(0);"
                                class="time_a btn-disabled" data-val=times.time>{{times.time}}</a>
                            </li>

                          </div>
                          <div id="mCSB_4_scrollbar_vertical"
                            class="mCSB_scrollTools mCSB_4_scrollbar mCS-light mCSB_scrollTools_vertical"
                            style="display: block;">
                            <div class="mCSB_draggerContainer">
                              <div id="mCSB_4_dragger_vertical" class="mCSB_dragger"
                                style="position: absolute; min-height: 30px; display: block; height: 149px; max-height: 290px; top: 0px;">
                                <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                              </div>
                              <div class="mCSB_draggerRail"></div>
                            </div>
                          </div>
                        </div>
                      </ul>

                    </div>
                  </div>
                  <button class="confirm-btn" id="confirm_button" type="button" (click)="confirm()">Confirm</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <script>
          $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
          });
        </script>

      </div>
    </div>
  </div>
</div>