<section>
    <div id="container_section_wrap">
        <div id="container_section_content">
            <div id="imgbg_section">
                <img [src]="main_banner" class="img-fluid" alt="">
                <ng-container *ngFor="let exhib of main_exhibition">
                    <ng-container *ngFor="let stall of exhib?.stalls">
                        <div [ngStyle]="{'top':stall.pos_top+'%', 'left':stall.pos_left+'%'}"
                            class="MultiExhibition" (click)="gotoCommitToSucceed(exhib,stall.id)">
                            <div class="pulse"></div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</section>