<div [ngStyle]="{'top':cardDetail?.pos_top+'%', 'left':cardDetail?.pos_left+'%'}" style="font-family: 'Montserrat', sans-serif;">
    <div style="position: relative;">
        <div class="hexagon">
            <div class="hex-inner">
                <div class="audi-text">{{cardDetail?.title.toUpperCase( )}}</div>
                <div class="button-alignment">
                    <button (click)="gotoCommitToSucceed(cardDetail?.id)" class="btn btn-white">Click here</button>
                </div>
            </div>
        </div>
    </div>
</div>
