.hexagon {
  width: 250px;
  height: 250px;
  background: linear-gradient(to right bottom, #1c84f4, #bbe4ee, #88d8f2, #8bc5e0, #39d3f0);
  position: relative;
  display: inline-block;
  margin: -10px 0.2em;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);


}
.hex-inner {
  background: linear-gradient(to right bottom, #ffffff, #eff4ff, #cde6ff, #8bc5e0, #39d3f0);
  width: 220px;
  height: 220px;
  position: relative;
  left: 15px;
  top: 15px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.audi-text {
  color: #222222;
  font-weight: 600;
  text-align: center;
  position: relative;
  top: 60px;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}

.button-alignment {
  position: relative;
  top: 90px;
  text-align: center;
}

.btn-white {
  background: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 20px 5px 20px;
  border-radius: 14px
}
