<!-- <div class="bg"></div> -->
<span id="back">
    <a class="nav-link sign" routerLink="/lobby" title="Logout" role="button">
        BACK</a>
</span>
<section class="sectionBgnew">
    <div class="content-wrap">
        <div class="lobby-bg">
            <img src="assets/serdia_cardio/keyportfolio_inside.jpg" alt="audi">
        </div>
        <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
            <div class="alert alert-success " role="alert">
                The session is Live now, please join us at the auditorium.
            </div>
          </div>
        <div id="diabetesVideo" (click)="playDiabetesVideo()">
            <div class="pulse"></div>
        </div>
        <div id="cardiologyVideo" (click)="playCardiologyVideo()">
            <div class="pulse"></div>
        </div>
        <div id="hypertensionVideo" (click)="playHypertensionVideo()">
            <div class="pulse"></div>
        </div>
        <div id="venousDiseaseVideo" (click)="playVenousDiseaseVideo()">
            <div class="pulse"></div>
        </div>
    </div>
</section>


<!-- video Modal -->
<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{videoName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body p-0">
                <div id="modal-video">
                    <div id="closePopup" (click)="closePopup()">&times;</div>
                    <video id="video" preload="auto" muted autoplay src="{{player}}" width="100%" controls>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>