  section{
    position: relative;
    .content-wrap {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      max-width: 100%;
      margin: a50o;
      position: relative;
      .lobby-bg{
        position: relative;
          width: 100%;
          height: 100%;
          display: block;
          img{
            width: 100vw;
            height: 110vh;  
          }
      }
      #diabetesVideo{
        cursor: pointer;
        position: absolute;
        top: 34.5%;
        left: 27.5%;
        height: 19vh;
        width: 6vw;
        .pulse{
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
      #cardiologyVideo{
        cursor: pointer;
        position: absolute;
        top: 34.5%;
        left: 38.5%;
        height: 19vh;
        width: 6vw;
        .pulse{
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
      #hypertensionVideo{
        cursor: pointer;
        position: absolute;
        top: 34.5%;
        right: 44.5%;
        height: 19vh;
        width: 6vw;
        .pulse{
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
      #venousDiseaseVideo{
        cursor: pointer;
        position: absolute;
        top: 34.5%;
        right: 33.3%;
        height: 19vh;
        width: 6vw;
        .pulse{
            position: absolute;
            top: 40%;
            left: 50%;
        }
    }
    } 
  }

#modal-video{
    border-radius:5px; 
    padding: 0 3px;   
    position: relative;
    top: 3px;
    #closePopup{
        position: absolute;
        top: -16px;
        right: -16px;
        line-height: 24px;
        font-size: 30px;
        background: #e40e38;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        font-weight: 500;
        z-index: 1000;
        cursor: pointer;
    }
}
#back{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #141433;
    color: white;
    z-index: 100;
    font-weight: 600;
    font-size: 14px;
    // padding: 2px;
    border: 1px solid #060a39;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 0px;
    a{
        text-transform: capitalize;
        color: white;
    }
  }