#container{
    background: #3f51b5;
    height: 100vh;
    // display: flex;
    // justify-content: center;
    text-align: center;
    .startBtn{
        padding: 5px;
        background: green;
        color: white;
    }
    .myCanvas{
        border:1px solid #000;
        background: lightblue;
    }
}