<div id="container">
    <div class="p-1">
            <button class="startBtn btn">Start</button> &nbsp;
            <span style="color:white">Score: {{score}}</span>
    </div>
        <canvas class='myCanvas' width='480' height='480'></canvas>
        <img class="playerImg" src="http://authorcafe-dev-files.s3.amazonaws.com/4/assets/ic_local_airport_48px_128_55ed95cf47b27.png"
            style="display:none">
        <img class="enemyImg" src="http://authorcafe-dev-files.s3.amazonaws.com/4/assets/thumbs/plane_simple_55f4fc25ef02a.png"
            style="display:none">
        <img class="enemyBoomImg" src="http://www.clker.com/cliparts/N/Q/b/F/B/E/pow-hi.png" style="display:none">
</div>