<section>
    <div id="container_section_wrap">
        <div id="container_section_content">
            <div id="imgbg_section">
                <img src="assets/sampleimages/session.jpg" alt="">
                <ng-container *ngFor="let a of [1,2]">
                    <div id="clickpoint{{a}}" (click)="gotoAudi(a)">                        
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</section>