<section>
    <div id="container_section_wrap">
        <div id="container_section_content">
            <div id="imgbg_section">
                <img src="../../../../assets/sampleimages/lobby.jpg" alt="">
                <div id="pointer1" routerLink="/theme1/tonelayout/welcomedesk" title="Welcome Desk">
                    <div class="pulse"></div>
                </div>
            </div>
        </div>
    </div>
</section>