// #imgbg_section{
//     img{
//         width: calc(100% - 150px) !important;
//         margin: 0 75px !important;
//     }
// }
// @media only screen and (max-width: 768px){
//     #imgbg_section{
//         img{
//             width: calc(100% - 110px) !important;
//             margin: 0 55px !important;
//         }
//     }
// }