<div id="body">
    <div id="puzzleGame">
            <div class="game">
                    <div [ngClass]="btns.length ? 'noGame':'showGame'">
                        <p>Click on Play to start game</p>
                    </div>
                    <div class="grid">
                        <button [ngStyle]="{'display': btns.length ? 'block':'none'}" *ngFor="let btn of btns; let i = index"
                            (click)="puzzleup(i, btn)"><span *ngIf="btn !== 0">{{btn}}</span></button>
                    </div>
            
                    <div class="footer">
                        <button (click)="startReset()">{{showPlay}}</button>
                        <span id="move">Move: {{move}}</span>
                        <span id="time">Time: {{secondsTime}}</span>
                    </div>
                </div>
    </div>
    <h1 class="message">{{winner}}</h1>



</div>