section{
    position: relative;
    height: 100%;
    width: 100%;
    .content-wrap{
      position: relative;
      .bg_img{
        position: relative;
        height: 100%;
        width: 100%;
        display: block;
        img{
          width: 100vw;
          height: 100vh;
        }
      }
    }  
  }
  .btn-disabled{
    cursor: not-allowed !important;
    background-color: #b3b0b0 !important;
  }
  .btn-disabled:hover{
    cursor: not-allowed !important;
    background-color: #b3b0b0 !important;
    color: #000 !important;
  }
  .bg {
    //   background-image: url(../../../../assets/serdia_myanmar/images/exhibit_commit_to_succeed_1.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 100vh;
      background-color: #2d2b21;
      animation: opac .5s;
    
      // position: relative;
    }
    @keyframes opac {
      from{
          opacity: 0;
      } to {
          opacity: 1;
      }
    }
    
    @media (max-width: 767px){
    .bg{
      background-position: top center;
        background-size: contain;
    }
    #back{
      margin-left: 50px !important;
    }
    }
    .docs {
      .pulse{
          position: absolute;
          top: 44%;
          right: 36%;
          cursor: pointer;
      }
    }
    .video {
      .pulse{
          position: absolute;
          top: 43%;
          left: 33%;
          cursor: pointer;
      }
    }
  
  #image_profile {
    img {
        float: left;
        border-radius: 50%;
    }
    #profile_detail {
        padding: 5px;
        margin-left: 55px;
  
        #profile_name {
            font-weight: 600;
        }
    }
  }
  .profileImage {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: cadetblue;
    font-size: 14px;
    color: #fff;
    text-align: center;
    float: right;
    font-weight: bold;
    padding: 10px;
  }
  .profileImage1 {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #004584;
    font-size: 14px;
    color: #fff;
    text-align: center;
    float: left;
    font-weight: bold;
    padding: 10px;
  }
  .bord:nth-child(even) {
    border-left: 5px solid cadetblue;
  }
  #setChat{
    width: 450px;
    max-height: 200px;  min-height: 200px; overflow:auto;
  }
  @media only screen and (max-height: 500px) {
    #setChat{
      max-height: 100px;  min-height: 100px; overflow:auto;
    }
  }
  .bord:nth-child(odd) {
    border-left: 5px solid black;
  }
    .chats {
      .pulse{
          position: absolute;
          top: 63%;
          right: 54%;
          cursor: pointer;
      }
    }
    .call {
      .pulse{
          position: absolute;
          top: 65%;
          right: 59%;
          cursor: pointer;
      }
    }
    .info { 
      .pulse{
          position: absolute; 
          top: 70%;
          right: 62%;
          cursor: pointer;
      }
    }
  
  #popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  
  .chat_box{
    .chat_message{
      list-style-type: none;
      padding: 0;
      display: inline-block;
      height: 400px;
      width: 96%;
      overflow: auto;
      overflow-x: hidden;
      .chat_messageList{
        padding: 10px;
        .img_avatar{
          float: left;
          width: 46px;
          img{
            width: 28px;
          }
        }
        p{
          .person{
            display: block;
            color: #292f35;
            font-weight: bold;
            font-size: 14px;
            float: left;
            cursor: pointer;
            margin-right: 15px;
            text-transform: capitalize;
            line-height: 18px;
            .checkProfile{
              text-decoration: none;
              outline: none;
              color: #292f35;
            }
          }
          .time {
            float: right;
            color: dimgrey;
            line-height: 18px;
          }
        }
        .text_message{
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-left: 48px;
          clear: both;
          margin-bottom: 5px;
        }
      }
      .chat_messageList:nth-child(even){
        background: #e8e8e8;
      }
    }
  }
  .message_input {
    padding: 10px;
    textarea {
      border: none;
      height: 102px;
      box-sizing: border-box;
      outline-width: 0;
      padding: 10px;
      font-size: 14px;
      width: 78% !important;
      border-radius: inherit;
      border-radius: 2px;
      background: #e8e8e8;
      border: 0px;
      padding: 10px 5px 6px 15px;
      line-height: 11px;
      /* margin-left: 15px; */
      resize: none;
      border: 1px solid #e8e8e8;
      outline: none;
    }
    #chatBtn{
      width: 20%;
      font-size: 12px;
      background: #ebebeb;
      padding: 2px;
      box-shadow: none;
      height: 40px;
      border-radius: inherit;
      background: #292f35;
      border: navajowhite;
      margin-top: 0;
      svg{
        color: #fff;
  
      }
    }
  }
  
  .online_chat{
    min-height: 400px;
    overflow: auto;
  
  }
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292f35;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292f43;
  }
  .profile-card {
    border-radius: 4px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.18);
    display: block;
    padding: 20px 0px 0px;
    margin-bottom: 20px;
  }
  .profile-card figure {
    margin: 0px auto;
    background: #292F35;
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
  }
  .profile-card figure i {
    font-size: 32px;
    color: #fff;
    vertical-align: middle;
  }
  
  .profile-card table i {
    font-size: 22px;
      margin-right: 17px;
  }
  
  .profile-card h3 {
    font-size: 18px;
    text-align: center;
    color: #000;
    margin: 20px auto;
    text-transform: uppercase;
    font-family: var(--head-font);
    font-weight: 700;
  }
  
  #popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  
  .chat_box{
    .chat_message{
      list-style-type: none;
      padding: 0;
      display: inline-block;
      height: 400px;
      width: 96%;
      overflow: auto;
      overflow-x: hidden;
      .chat_messageList{
        padding: 10px;
        .img_avatar{
          float: left;
          width: 46px;
          img{
            width: 28px;
          }
        }
        p{
          .person{
            display: block;
            color: #292f35;
            font-weight: bold;
            font-size: 14px;
            float: left;
            cursor: pointer;
            margin-right: 15px;
            text-transform: capitalize;
            line-height: 18px;
            .checkProfile{
              text-decoration: none;
              outline: none;
              color: #292f35;
            }
          }
          .time {
            float: right;
            color: dimgrey;
            line-height: 18px;
          }
        }
        .text_message{
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-left: 48px;
          clear: both;
          margin-bottom: 5px;
        }
      }
      .chat_messageList:nth-child(even){
        background: #e8e8e8;
      }
    }
  }
  .message_input {
    padding: 10px;
    textarea {
      border: none;
      height: 102px;
      box-sizing: border-box;
      outline-width: 0;
      padding: 10px;
      font-size: 14px;
      width: 78% !important;
      border-radius: inherit;
      border-radius: 2px;
      background: #e8e8e8;
      border: 0px;
      padding: 10px 5px 6px 15px;
      line-height: 11px;
      /* margin-left: 15px; */
      resize: none;
      border: 1px solid #e8e8e8;
      outline: none;
    }
    #chatBtn{
      width: 20%;
      font-size: 12px;
      background: #ebebeb;
      padding: 2px;
      box-shadow: none;
      height: 40px;
      border-radius: inherit;
      background: #292f35;
      border: navajowhite;
      margin-top: 0;
      svg{
        color: #fff;
  
      }
    }
  }
  
  .online_chat{
    min-height: 400px;
    overflow: auto;
  
  }
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292f35;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #292f43;
  }
  #fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  
  #light {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
  }
  
  #boxclose {
    // float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
  }
  
  .boxclose:before {
    content: "×";
  }
  
  #fade:hover ~ #boxclose {
    display:none;
  }
  
  #back{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #141433;
    color: white;
    z-index: 100;
    font-weight: 600;
    font-size: 14px;
    // padding: 2px;
    border: 1px solid #060a39;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 0px;
    a{
        text-transform: capitalize;
        color: white;
    }
  }
  
  
  #modal-video{
    border-radius:5px; 
    padding: 0 3px;   
    position: relative;
    top: 3px;
    #closePopup{
        position: absolute;
        top: -16px;
        right: -16px;
        line-height: 24px;
        font-size: 30px;
        background: #e40e38;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        font-weight: 500;
        z-index: 1000;
        cursor: pointer;
    }
  }

  .booth-icons-box {
    position: absolute;
    // top: 34%;
         top: 25%;

    left: 84px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .booth-icons-box .booth-icon-link {
    color: #000;
    background: #fff;
    border-radius: 4px;
    padding: 5px 50px 5px 15px;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 2px 3px 10px 0px rgba(0 0 0 / 40%);
    display: flex;
    transition: transform .3s linear;

    // color: #000;
    // background: #fff;
    // border-radius: 4px;
    // padding: 5px 60px 5px 20px;
    // margin-bottom: 30px;
    // position: relative;
    // box-shadow: 2px 3px 10px 0 rgb(0 0 0 / 40%);
    // display: flex;
    // transition: transform .3s linear;
  }
  .booth-icons-box .booth-icon-link span {
    width: 48px;
    position: absolute;
    right: -10px;
    background: #fff;
    top: -8px;
    border-radius: 50%;
    padding: 8px;
  }
  .booth-icons-box .booth-icon-link span img {
    width: 100%;
  }
  .booth-icons-box .booth-icon-link:hover {
    transform: translateX(10px);
    background: #004584;
    color: #fff;
  }
  a{
    text-decoration: none;
  }

#popup{
  max-height: 100%;
  background: #000000c9;
  padding: 5px;
  .chat_section{
    background: #292F35;
    .popup_header{
      height: 40px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: #fff;

      .close {
        position: absolute;
        right: 7px;
        width: 24px;
        height: 28px;
        opacity: 0.5;
      }
      .close:hover {
        opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        right: 7px;
        content: ' ';
        height: 28px;
        width: 2px;
        background-color: #fff;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }

    }
  }
}

.chat_box{
  .chat_message{
    list-style-type: none;
    padding: 0;
    display: inline-block;
    height: 400px;
    width: 96%;
    overflow: auto;
    overflow-x: hidden;
    .chat_messageList{
      padding: 10px;
      .img_avatar{
        float: left;
        width: 46px;
        img{
          width: 28px;
        }
      }
      p{
        .person{
          display: block;
          color: #292f35;
          font-weight: bold;
          font-size: 14px;
          float: left;
          cursor: pointer;
          margin-right: 15px;
          text-transform: capitalize;
          line-height: 18px;
          .checkProfile{
            text-decoration: none;
            outline: none;
            color: #292f35;
          }
        }
        .time {
          float: right;
          color: dimgrey;
          line-height: 18px;
        }
      }
      .text_message{
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        margin-left: 48px;
        clear: both;
        margin-bottom: 5px;
      }
    }
    .chat_messageList:nth-child(even){
      background: #e8e8e8;
    }
  }
}
.message_input {
  padding: 10px;
  textarea {
    border: none;
    height: 102px;
    box-sizing: border-box;
    outline-width: 0;
    padding: 10px;
    font-size: 14px;
    width: 78% !important;
    border-radius: inherit;
    border-radius: 2px;
    background: #e8e8e8;
    border: 0px;
    padding: 10px 5px 6px 15px;
    line-height: 11px;
    /* margin-left: 15px; */
    resize: none;
    border: 1px solid #e8e8e8;
    outline: none;
  }
  #chatBtn{
    width: 20%;
    font-size: 12px;
    background: #ebebeb;
    padding: 2px;
    box-shadow: none;
    height: 40px;
    border-radius: inherit;
    background: #292f35;
    border: navajowhite;
    margin-top: 0;
    svg{
      color: #fff;

    }
  }
}

.online_chat{
  min-height: 400px;
  overflow: auto;

}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292f35;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #292f43;
}
// .schedule-body {
//   height: 40vh;
// }
.calendar-part {
  flex: 0 0 50%;
  max-width: 50%;
}
.time-part {
  flex: 0 0 50%;
  max-width: 50%;
}
.time-part .time-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
}
.time-part .time-list li {
  margin: 5px 10px;
  text-align: center;
  min-width: 150px;
  line-height: 35px;
}
.time-part .time-list li a {
  color: #333;
  padding: 0px 30px;
  font-size: 14px;
  display: block;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  transition: all .3s linear;
}
.time-part .time-list li  a:hover {
  text-decoration: none;
  outline: none;
  background: #000000c9;
  color:white;
}

.confirm-btn {
  display: table;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 30px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin: 30px auto 15px;
  color: #fff;
  outline: none;
  border: 0;
  transition: all 300ms linear;
}
.active {
  background: rgba(0, 0, 0, 0.7) !important;
border: 1px solid rgba(0, 0, 0, 0.7) !important;
color: #fff !important;
}
