<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="../../../assets/video/To_Exhibition.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="bg"></div> -->
<!-- <div style="position: relative;  top: -58%;  left: 29%;">
  <vg-player  [ngStyle]="{'width': '14.5%'}">
    <vg-controls [vgAutohide]="true" [vgAutohideTime]="1"> 

      <vg-play-pause></vg-play-pause>
      <vg-time-display ></vg-time-display>
     
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>
      <vg-fullscreen ></vg-fullscreen>
    </vg-controls>
    <vg-buffering></vg-buffering>
    <video #myMedia [vgMedia]="myMedia"
    preload="auto"  autoplay="true"
     vg-responsive="true"
    type="video/mp4" [src]="exhibiton.video" >
   
    </video>
</vg-player>
</div> -->
<span id="back">
  <a class="nav-link sign" routerLink="/theme1/tonelayout/exhibition" title="Logout" role="button">
    BACK</a>
</span>
<section>
  <div class="content-wrap">
    <div class="bg_img">
      <img [src]="banner" alt="">
    </div>
    <!-- <div class="video" title="Play Video">
        <div class="pulse" (click)="playGrowBySharingVideo();"></div>
      </div> -->

  </div>
</section>
<div class="booth-icons-box">
  <a *ngIf="videosource != ''" class="booth-icon-link" href="javascript:void(0);" (click)="playGrowBySharingVideo();">
    Play video <span><img
        src="https://icon2.cleanpng.com/20180205/rhe/kisspng-video-sound-play-button-transparent-background-5a78ae776a8261.2982911315178584234363.jpg"></span>
  </a>

  <a *ngIf="documented == '1'" class="booth-icon-link" href="javascript:void(0);" data-fancybox="" data-toggle="modal"
    data-target=".docsModal">
    Brochures <span><img src="assets/Briefcase.png"></span>
  </a>

  <a *ngIf="chats == '1'" data-fancybox="" data-toggle="modal" data-target=".liveQuestionModal"
    href="javascript:void(0);" class="booth-icon-link">
    Exhibitior Chat <span><img src="assets/chat.png"></span>
  </a>
  <a *ngIf="salesPerson == '1'" data-fancybox="" data-toggle="modal" data-target=".salesModal"
    href="javascript:void(0);" class="booth-icon-link">
    Sales information <span><img src="assets/Briefcase.png"></span>
  </a>
  <a *ngIf="card_dropped == '1'" data-fancybox="" href="javascript:void(0);" class="booth-icon-link"
    (click)=cardDropped()>
    Card Drop <span><img src="assets/contact.png"></span>
  </a>
  <a *ngIf="products == '1'" data-fancybox="" data-toggle="modal" data-target=".productModal" href="javascript:void(0);"
    class="booth-icon-link">
    Product List <span><img src="assets/Briefcase.png"></span>
  </a>
  <a *ngIf="scheduled == '1'" data-fancybox="" href="javascript:void(0);" class="booth-icon-link" (click)=openCallBox()>
    Schedule a call <span><img src="assets/contact.png"></span>
  </a>
  <a data-fancybox="" class="booth-icon-link" (click)="navigateToAppointments()">
    Appointments <span><img src="assets/contact.png"></span>
  </a>
  <!-- <div class="pdf" id="pd1" data-toggle="modal" data-target=".pic1" >
         <div class="pulse" id="heighlight_pulse"></div> 
         </div>  
     <div class="pdf" id="pd2" data-toggle="modal" data-target=".pic2" >
         <div class="pulse" id="heighlight_pulse"></div> 
         </div>  
         <div class="pdf" id="pd3" data-toggle="modal" data-target=".pic3" >
            <div class="pulse" id="heighlight_pulse"></div> 
            </div>   -->
  <!-- <div class="pdf"  id="pd4" (click)="dynamicPDF(PDFid)">
                data-toggle="modal" data-target=".pic4"
                <div class="pulse" id="heighlight_pulse"></div> 
                </div>   -->


</div>

<!-- <div id="light">
    <a class="boxclose" id="boxclose" (click)="lightbox_close();"></a>
    <video id="VisaChipCardVideo" [src]="exhibiton.video"  width="600" controls>
    </video>
  </div>
  <div id="fade" (click)="lightbox_close();"></div> -->
<!-- <div class="video" title="Play Video">
    <div class="pulse" (click)="playGrowBySharingVideo();"></div>
  </div> -->
<!-- <div class="chats" title="Chat with Exhibitors">
    <div class="pulse" data-toggle="modal" data-target=".liveQuestionModal"></div>
  </div> -->
<!-- <div class="docs" title="Show Documents">
    <div class="pulse" data-toggle="modal" data-target=".docsModal"></div>
  </div> -->
<!-- <div class="call" title="Schedule a call" (click)="openCallBox()">
    <div class="pulse" ></div>
  </div> -->
<!-- <div class="info" title="Sales info">
    <div class="pulse" data-toggle="modal" data-target=".salesModal"></div>
  </div> -->
<div class="modal fade salesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6 style="text-transform: uppercase;">sales information</h6>
                <a class="close" (click)="closePopup()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">

                  <div class="col-md-6" *ngFor="let data of sales_guy">
                    <div class="profile-card">
                      <figure>
                        <i class="fa fa-user"></i>
                      </figure>
                      <h3>{{data.name}}</h3>
                      <table class="table">
                        <tbody>
                          <tr>
                            <td><i class="fa fa-id-badge"></i>{{data.position}}</td>
                          </tr>
                          <tr>
                            <td><i class="fa fa-envelope"></i>{{data.email}}</td>
                          </tr>
                          <tr>
                            <td><i class="fa fa-mobile"></i>{{data.contact}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>





                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Document Modal -->
<div class="modal fade docsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6 style="text-transform: uppercase;">Brochure</h6>
                <a class="close" (click)="closePopupdocs()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <div class="chat_box">
                      <ul class="chat_message">
                        <li class="chat_messageList" *ngFor="let docs of brochure">
                          <!-- <div (click)="getDocument(docs.url)"> -->
                          <div class="img_avatar"> <img src="./assets/img/pdf.png" alt=""></div>
                          <p>
                            <span class="person">
                              <a nhref download class="checkProfile"> {{docs.title}}</a>
                            </span>

                          </p>

                          <span>
                            <a [href]="docs.url" target="_blank" class="float-right" title="View PDF"> <img
                                src="./assets/img/view.png" alt="" style="width: 30px;
                                    margin-top: -19px; cursor: pointer;"></a>
                          </span>
                          <!-- </div> -->
                        </li>

                        <hr>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- live chat modal -->
<div class="modal fade liveQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="position: absolute; bottom: 0px; right: 85px;">
    <div class="modal-content">
      <!-- <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>Live Chat</h6>
                <a class="close" (click)="closeChat()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <div class="chat_box">
                      <ul class="chat_message" id="chat_messaged">
                        <li class="chat_messageList" *ngFor="let qa of qaList">
                          <div class="img_avatar"> <img src="../assets/img/default_avatar.png" alt=""></div>
  
                          <span class="person">
                            <a href="javascript:void(0);" style="font-size: 14px; font-weight: bold; color: #000;"
                              class="checkProfile">{{qa.question}}</a>
                          </span>
                          
                          <div class="text_message">
                            <table>
                              <td> <img src="../assets/img/customer_support.png" *ngIf="qa.answer" alt="" height="25px"
                                  width="20px"> &nbsp; &nbsp;</td>
                              <td>
                                <p [innerHTML]="qa.answer"></p>
                              </td>
                            </table>
  
  
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="message_input">
                      <textarea name="message" autocomplete="off" placeholder="Enter your question" [formControl]="textMessage"
                        (keyup.enter)="postQuestion(textMessage.value)" maxlength="200" type="text" id="query" value=""></textarea>
                    </div>
                    <button type="submit" class="btn borderBtn SubmitBut" style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;"
                      (click)="postQuestion(textMessage.value)">Submit</button>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="card" id="chatSection" *ngIf="isShow">
        <div class="p-3" style="font-weight: 500; background-color: #da251c; color: white;cursor: pointer;" (click)="hidediv()">Chat with
          {{exhibition_title}}
          <i class="fa fa-times float-right" style="cursor: pointer;" title="Minimize Chat" *ngIf="showchat"
            (click)="hidediv()"></i>
          <i class="fa fa-arrow-up float-right" *ngIf="hidechat" title="Maximize Chat" (click)="show()"></i>
        </div>
        <div class="row" *ngIf="showDiv">
          <div class="col-md-12 col-xl-12 col-sm-12">
            <div id="setChat">
              <div class="card p-2" *ngFor="let qa of qaList"
                style="border-left: 5px solid cadetblue; margin-bottom: 5px">
                <div id="image_profile" style="padding: 1px 12px;
                  ">
                  <span class="profileImage1 card-body" *ngIf="myid != qa.sender_id" title="{{qa.sender_name}}">{{qa.sender_name | slice:0:1}}</span>

                  <div *ngIf="myid != qa.sender_id" id="profile_details1">
                    <div>{{qa.msg}}</div>
                  </div>
                  <span class="profileImage card-body" *ngIf="myid == qa.sender_id" title="{{qa.sender_name}}">{{qa.sender_name
                                        | slice:0:1}}</span>
                  <div *ngIf="myid == qa.sender_id" id="profile_detail">
                    <div>{{qa.msg}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pt-3 pb-3 pl-1 pr-1">
              <input class="form-control" [(ngModel)]="msgs" maxlength="60" placeholder="Write something here.."
                [formControl]="textMessage" (keyup.enter)="postQuestion(textMessage.value)" /> <br>
              <button class="btn btn-danger" (click)="postQuestion(textMessage.value)">Send</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="modal fade productModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6 style="text-transform: uppercase;">Products</h6>
                <a class="close" (click)="closePopup()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 pl-0">
                    <div class="chat_box">
                      <ul class="chat_message">
                        <ul class="chat_message">
                          <li class="chat_messageList" *ngFor="let data of product">
                            <div class="img_avatar"> <img src="assets/img/pdf.png" alt=""></div>

                            <span class="person">
                              <a (click)="pdfOpen(data.url);" style="text-decoration: none; color: black;cursor: pointer;" target="_blank"
                                download class="checkProfile">
                                {{data.title}}- {{data.description}}</a>
                            </span>




                          </li>


                        </ul>

                        <hr>
                      </ul>
                    </div>

                  </div>
                  <!-- <div class="col-md-7 col-xl-7">
                                        <img [src]="product" width="100%" alt="">
                                        <img *ngIf="pord_desc" [src]="pord_desc" width="100%" alt="">
                                    </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade pdfModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6>{{documentName}}</h6>
                <a class="close" (click)="closepdf()"></a>
              </div>
              <!-- <iframe [src]="document" width="100%" height="500" frameborder="0" marginheight="0"
                marginwidth="0"></iframe> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- video Modal -->
<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body p-0">
        <div id="modal-video">
          <div id="closePopup" (click)="closeModalVideo()">&times;</div>
          <video id="video" preload="auto" [src]="videosource" width="100%" controls>
          </video>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade scheduleCallmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="container-fluid" id="popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="chat_section">
              <div class="popup_header">
                <h6 style="text-transform: uppercase;">SCHEDULE A CALL</h6>
                <a class="close" (click)="closePopup()"></a>
              </div>
              <div class="container-fluid" style="  background: #f2f4f7;">




                <h4 style="padding-top: 12px;">Select a Date & Time</h4>

                <div class="row pt-2">

                  <div class="col-md-6">
                    <div class="calendar-part">
                      <ngb-datepicker [minDate]="{year: 2021, month: 08, day: 05}"
                        [maxDate]="{year: 2021, month: 10, day: 20}" #dp [(ngModel)]="model"
                        (navigate)="date = $event.next" (dateSelect)="onDateSelect($event)"></ngb-datepicker>
                    </div>
                    <!-- <pre>Model: {{ model | json }}</pre> -->
                  </div>
                  <div class="col-md-6" style="overflow-y: scroll;">
                    <div class="time-part">

                      <ul class="time-list mCustomScrollbar _mCS_4" id="list">
                        <div id="mCSB_4" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"
                          style="max-height: none;">
                          <div id="mCSB_4_container" class="mCSB_container" style="position:relative; top:0; left:0;"
                            dir="ltr">

                            <li *ngFor="let times of newTimeSlots">
                              <a *ngIf="times.flag =='enabled'" (click)="getTime($event,'active',times.time)"
                                href="javascript:void(0);" class="time_a" data-val=times.time>{{times.time}}</a>

                              <!-- <a  href="javascript:void(0);" disabled="disabled"
                              class="time_a btn-disabled">{{times.time}}</a> -->

                              <a *ngIf="times.flag =='disabled'" disabled="disabled" href="javascript:void(0);"
                                class="time_a btn-disabled" data-val=times.time>{{times.time}}</a>
                            </li>
                            <!-- <li id=""><a (click)="getTime($event,'active','10:00')" href="javascript:void(0);"
                                class="time_a" data-val="10:00">10:00 am</a></li>

                            <li id=""><a (click)="getTime($event,'active','10:30')" href="javascript:void(0);"
                                class="time_a" data-val="10:30">10:30 am</a></li>

                            <li id=""><a (click)="getTime($event,'active','11:00')" href="javascript:void(0);"
                                class="time_a" data-val="11:00">11:00 am</a></li>

                            <li id=""><a (click)="getTime($event,'active','11:30')" href="javascript:void(0);"
                                class="time_a" data-val="11:30">11:30 am</a></li>

                            <li id=""><a (click)="getTime($event,'active','12:00')" href="javascript:void(0);"
                                class="time_a" data-val="12:00">12:00 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','12:30')" href="javascript:void(0);"
                                class="time_a" data-val="12:30">12:30 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','01:00')" href="javascript:void(0);"
                                class="time_a" data-val="13:00">01:00 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','01:30')" href="javascript:void(0);"
                                class="time_a" data-val="13:30">01:30 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','02:00')" href="javascript:void(0);"
                                class="time_a" data-val="14:00">02:00 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','02:30')" href="javascript:void(0);"
                                class="time_a" data-val="14:30">02:30 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','03:00')" href="javascript:void(0);"
                                class="time_a" data-val="15:00">03:00 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','03:30')" href="javascript:void(0);"
                                class="time_a" data-val="15:30">03:30 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','04:00')" href="javascript:void(0);"
                                class="time_a" data-val="16:00">04:00 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','04:30')" href="javascript:void(0);"
                                class="time_a" data-val="16:30">04:30 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','05:00')" href="javascript:void(0);"
                                class="time_a" data-val="17:00">05:00 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','05:30')" href="javascript:void(0);"
                                class="time_a" data-val="17:30">05:30 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','06:00')" href="javascript:void(0);"
                                class="time_a" data-val="18:00">06:00 pm</a></li>

                            <li id=""><a (click)="getTime($event,'active','06:30')" href="javascript:void(0);"
                                class="time_a" data-val="18:30">06:30 pm</a></li> -->

                          </div>
                          <div id="mCSB_4_scrollbar_vertical"
                            class="mCSB_scrollTools mCSB_4_scrollbar mCS-light mCSB_scrollTools_vertical"
                            style="display: block;">
                            <div class="mCSB_draggerContainer">
                              <div id="mCSB_4_dragger_vertical" class="mCSB_dragger"
                                style="position: absolute; min-height: 30px; display: block; height: 149px; max-height: 290px; top: 0px;">
                                <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                              </div>
                              <div class="mCSB_draggerRail"></div>
                            </div>
                          </div>
                        </div>
                      </ul>

                    </div>
                  </div>
                  <button class="confirm-btn" id="confirm_button" type="button" (click)="confirm()">Confirm</button>
                </div>







                <!-- <div class="col-md-1 col-xl-1">
              <div class="online_chat"></div>
            </div> -->

              </div>
            </div>
          </div>
        </div>
        <script>
          $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
          });
        </script>

      </div>
    </div>
  </div>
</div>

<div class="modal fade t_one_productModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="container-fluid" id="t_all_popup">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="t_all_section">
              <div class="t_all_popup_header">
                <h6>Product PDF</h6>
                <a class="t_all_close" (click)="closePopup2()"></a>
              </div>
              <div class="container-fluid" style="background: #c5c5c5;">
                <div class="row pt-2">
                  <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                    <div class="row">
                    </div>
                    <!-- <ngx-extended-pdf-viewer [(src)]="main_banner2" useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer> -->
                    <!-- <img [src]="main_banner" frameborder="0"
                width="100%" height="auto"> -->
                    <pdf-viewer [src]="this.pdfSingle" [render-text]="true" [fit-to-page]="true" [original-size]="false"
                      style="display: block;"></pdf-viewer>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>