section{
  #container_section_wrap{
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      max-width: 100%;
      margin: auto;
      position: relative;
      #container_section_content{
          position: relative;
          -webkit-transform-origin: 0% 0% 0;
          transform-origin: 0% 0% 0;
          height: 100%;
          width: 100%;
          max-width: 100%;
          overflow: hidden;
          #imgbg_section{
              position: relative;
              width: 100%;
              height: 100%;
              display: block;
              img{
                  width: 100%;
              }
          }
      }
  }
}

.footer-nav{
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 2px 0 10px 0;
  background: #fff;
  background: linear-gradient(180deg, rgba(221, 221, 221, 0) 5.98%, rgba(255, 255, 255, 0.5) 25.24%, rgba(255, 255, 255, 0.95) 59.38%, #ffffff 90%, #ffffff 90%);
}

.footer-nav1{
    padding: 0; margin: 7px 0 0 0;
}
.footer-nav1 li{
    padding: 0 0 0px 64px;
    margin: 0;
    display: inline-block;
    list-style: none;
    text-decoration: none;

    a{
        text-decoration: none;
        // color: white;
        color: black;
        font-size: 12px;
        cursor: pointer;
        img {
            transition: .3s;
            -ms-transform: scale(.85); /* IE 9 */
            -webkit-transform: scale(.85); /* Safari 3-8 */
            transform: scale(.85); 
            transition: .3s;
            -ms-transition: .3s; /* IE 9 */
            -webkit-transition: .3s; /* Safari 3-8 */

        }
        .fa{
            font-size: 24px;
        }
    }
    .linkActive {
        .fa{
            font-size: 24px;
            color: #f15c25;
        }
        div{
            border-bottom: 2px solid #f15c25;
            color: #f15c25;
        }
        padding-bottom: 10px;
    }
}
.footer-nav1 li:hover{
    a{
        img{
            transition: .3s;
            -ms-transform: scale(1.1); /* IE 9 */
            -webkit-transform: scale(1.1); /* Safari 3-8 */
            transform: scale(1.1); 
        }
        .fa {
            transition: .3s;
            -ms-transform: scale(1.2); /* IE 9 */
            -webkit-transform: scale(1.2); /* Safari 3-8 */
            transform: scale(1.2); 

        }

    }
}


/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292f35;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #292f43;
}

#t_all_popup{
  background: #000000c9;
  padding: 5px;
  .t_all_section{
    background: #292F35;
    .t_all_popup_header{
      height: 40px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: #fff;

      .t_all_close {
        position: absolute;
        right: 7px;
        width: 24px;
        height: 28px;
        opacity: 0.5;
        cursor: pointer;
      }
      .t_all_close:hover {
        opacity: 1;
      }
      .t_all_close:before, .t_all_close:after {
        position: absolute;
        right: 7px;
        content: ' ';
        height: 28px;
        width: 2px;
        background-color: #fff;
      }
      .t_all_close:before {
        transform: rotate(45deg);
      }
      .t_all_close:after {
        transform: rotate(-45deg);
      }

    }
  }
}