#pointer1, #pointer2, #pointer3{
    position: absolute;
    cursor: pointer;
    .pulse{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#onloadPlayer{
    position: absolute;
    width: 27%;
    top: 9%;
    left: 36.7%;
    // box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
}