
<section>
    <div id="container_section_wrap">
        <div id="container_section_content">
            <div id="imgbg_section">
                <img [src]="main_banner" class="img-fluid" alt="">
                <!-- <ng-container *ngFor="let tech of elements; let i=index">
                    <div *ngIf="tech.path" id="pointer{{i+1}}" title="{{tech.title}}" routerLink="{{tech.path}}" [ngStyle]="{'width':tech.w, 'height':tech.h, 'top':tech.t, 'left':tech.l}">
                        <div class="pulse"></div>
                    </div>
                    <div *ngIf="!tech.path" id="pointer{{i+1}}" title="{{tech.title}}" [ngStyle]="{'width':tech.w, 'height':tech.h, 'top':tech.t, 'left':tech.l}" (click)="showModals(tech.data_target)">
                        <div class="pulse"></div>
                    </div>
                </ng-container> -->
                <div id="onloadPlayer">
                    <video [src]="video" id="centerPlay" width="100%" muted preload="auto" playsinline autoplay controls loop type="video/mp4">
                        <!-- Your browser does not support the video tag. -->
                    </video> 
                </div>
                <ng-container>
                    <div *ngIf="techsupport=='1'" title="Tech support" id="pointer1" [ngStyle]="{'top':top_tech+'%', 'left':left_tech+'%'}" (click)="showModals('techsupport')">
                        <div class="pulse"></div>
                    </div>
                    <div *ngIf="agenda_enable=='1'" title="Agenda" id="pointer2" [ngStyle]="{'top':top_agenda+'%', 'left':left_agenda+'%'}" (click)="showModals('agenda')">
                        <div class="pulse"></div>
                    </div>
                    <div *ngIf="feedback_enable=='1'" title="Feedback" id="pointer3" [ngStyle]="{'top':top_feedback+'%', 'left':left_feedback+'%'}" (click)="showModals('feedback')">
                        <div class="pulse"></div>
                    </div>
                    <!-- <div *ngIf="!tech.path" id="pointer{{i+1}}" title="{{tech.title}}" [ngStyle]="{'width':tech.w, 'height':tech.h, 'top':tech.t, 'left':tech.l}" (click)="showModals(tech.data_target)">
                        <div class="pulse"></div>
                    </div> -->
                </ng-container>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>