<section>
    <div id="content-wrap">
      <div id="bglogin">
        <img id="loginbgimg" [src]="main_data"  >
        <div class="login-section-wrapper">
          
          <!-- <div class="login-wrapper my-auto"> -->
            <img [ngStyle]="{'top':top_logo_position+'%', 'left':left_logo_position+'%', 'width':main_logo_width+'%'}" class="pb-2 pt-1" [src]="main_logo" alt="" width="100%">
            <div [ngStyle]="{'width':form_width+'%','top':top_form_position+'%', 'left':left_form_position+'%'}">
            <h1 class="login-title" [ngStyle]="{'color': signin_color}" >{{form_heading}}</h1>
            <div style="background: #ec4040; color: white; text-align: center; line-height: 39px; font-weight: 600">{{this.invalidMessage}}</div>
                <form [formGroup]="registerForm" #formDir="ngForm" (ngSubmit)="register()">
                    <div *ngIf="isTicketTypeVisible" class="form-group">
                        <label [ngStyle]="{'color': signin_color}" for="ticket">Ticket Type</label>
                        <div *ngIf="(registerForm.get('ticket').invalid && formDir.submitted) || (registerForm.get('ticket').dirty && registerForm.get('ticket').invalid)"
                        style="color: #ec4040;font-weight:600">Ticket Type is required*</div>
                        <div class="row">
                            <div *ngFor="let tick of ticketTypeList">
                                <div *ngFor="let tic of tick?.tickets">
                                    <div (click)="getTicketType(tic)" class="col-12">
                                    <label for="ticket_type_{{tick.ticket_type}}">{{tick.ticket_type}}</label>&nbsp;&nbsp;&nbsp;
                                    <input id="ticket_type_{{tic.id}}" [value]="tic.ticket_type" type="radio"  name="ticket">
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label [ngStyle]="{'color': signin_color}" for="name">Name</label>

                        <div *ngIf="(registerForm.get('name').invalid && formDir.submitted) || (registerForm.get('name').dirty && registerForm.get('name').invalid)"
                            style="color: #ec4040;font-weight:600">Name is required*</div>
                        <input type="text" class="form-control" required autocomplete="off" formControlName="name"
                            placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <label [ngStyle]="{'color': signin_color}" for="email">Email</label>
                        <!-- <div *ngIf="(registerForm.get('email').invalid && formDir.submitted) || (registerForm.get('email').dirty && registerForm.get('email').invalid)"
                            style="color: #ec4040;font-weight:600">Email is required*</div> -->
                        <div style="color: #ec4040;font-weight:600">{{getFormValidation('registerForm','email',formDir.submitted)}}</div>
                        <input type="text" class="form-control" pattern="^\S*[@]\S*[.]\S*$" email required
                            autocomplete="off" formControlName="email" placeholder="Email">
                    </div>

                    <input [ngStyle]="{'background-color': button_color}" name="signup" id="signup"
                        class="btn btn-block login-btn" type="submit" value="Signup">
                </form>
                <!-- <form id="signup"> -->
                    <!-- <div class="row"> -->
                        <!-- <div class="col-md-12">
                            <div class="form-group md-form mb-0">
                                <label for="contact-name" class="">NAME</label>
                                <input type="text" name="fname" id="fname" class="form-control" placeholder=""
                                    autocomplete="off">
                            </div>
                        </div> -->
                        <!-- <div class="col-md-12">
                            <div class="form-group md-form email-f mb-0">
                                <label for="contact-email" class="">COMPANY NAME</label>
                                <input type="text" name="org" id="c-name" class="form-control" placeholder=""
                                    autocomplete="off">

                            </div>
                        </div> -->

                        <!-- <div class="col-6">
                            <div class="form-group md-form email-f mb-0">
                                <label for="contact-email" class="">MOBILE NO.</label>
                                <input type="text" name="phone" id="m-name" class="form-control" autocomplete="off"
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                    maxlength="10" placeholder="">

                            </div>
                        </div> -->


                        <!-- <div class="col-12">
                            <div class="form-group md-form email-f mb-0">
                                <label for="contact-email" class="">E-MAIL</label>
                                <input type="text" name="email_id" id="e-name" class="form-control" placeholder=""
                                    autocomplete="off">

                            </div>
                        </div> -->

                        <!-- <div class="col-md-6">
                            <div class="form-group md-form email-f mb-0">
                                <label for="contact-email" class="">CITY</label>
                                <input type="text" name="city" id="city-name" class="form-control" placeholder=""
                                    autocomplete="off">

                            </div>
                        </div> -->
                        <!-- <div class="col-md-12">
                            <br>
                            <div class="text-white" id="loginerror"></div>
                            <button type="button" class="register-btn">
                                <span id="register">SUBMIT</span>
                            </button>
                        </div> -->
                    <!-- </div>
                </form> -->
            </div>
        </div>
      </div>
    </div>
</section>