<section>
    <div id="container_section_wrap">
        <div id="container_section_content">
            <div id="imgbg_section">
                <img src="{{bgImage}}" alt="">
                <div id="t-two-player" [ngStyle]="{'position':playerStl.position,'top':playerStl.top,'left':playerStl.left,'width':playerStl.width,'height':playerStl.height}">
                    <div id="player-wrapper" class="player-container"></div>
                </div>
            </div>
        </div>
    </div>
</section>