<!-- <div  style="margin-left: 5%; margin-right: 5%;background-image: url(https://re-invest.in/wp-content/uploads/2018/02/inside-strip-1-1.png);width: 100%;height: 100px;"> -->
  <div class="col-md-12 col-xl-12" style="background: #E91E63; color:#fff;margin: 0 auto;width: 100%;height: 100px;">
  <div id="heading">
    <div> My Appointments </div>
  </div>
  <div class="no-appointment" *ngIf="!appointmentList?.length">
    <p style="margin-top: 59px;color: black;">No Scheduled Calls yet</p>
  </div>
  <div *ngIf="appointmentList?.length" style="overflow-y: scroll; position: relative; height: 550px;">
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Scheduled Time</th>
        <th>Join Call</th>
      </tr>
      <tr *ngFor="let item of appointmentList">
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.time}}</td>
        <td> 
          <a (click)="getMeetingLinkToEmbed(item.channel)" rel="noopener noreferrer">
            <i class="fa fa-video-camera" style="color:black; font-size: 25px; text-align: center;"></i>
          </a>
        </td>
      </tr>
    </table>
    <embed type="text/html" *ngIf="currentMeetingLink" [src]="currentMeetingLink | safe" width="500" height="200">
  </div>
</div>
