table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  #heading{
    text-align: center;
    /* text-align: center; */
    // transform: translate(-5%);
    div{
      color: white;
      font-size: 24px;
      padding-top: 30px;
    }
  }

  .video_meeting{
    text-transform: uppercase;
    margin-top: 29px;
    text-align: center;
    margin-bottom: 16px;
  }
  .no-appointment p{
    align-items: center;
    text-align: center;
    margin-top: 12px;
  }